{{#stories/story-base}}
    <h3 cpn-story_title cpn-margin="bottom">NHS England CCGs</h3>
    
    {{g-maps
        lat=gmapsLat
        lng=gmapsLng
        zoom=gmapsZoom
        map=gMap
    }}
{{/stories/story-base}}