[solomon-story="individual-perf-rag-tile"] {
    [cpn-story~="has-deviated"] {
        [cpn-story_bar~="front"] {
            background-color: $nhs-red;
        }
        
        [cpn-story_dot~="front"]::after {
            background-color: #fff;
        }
        
        [spc-nhs-rag_link] {
            color: #fff;
        }
    }
    
    [cpn-story~="could-deviate"] {
        [cpn-story_bar~="front"] {
            background-color: $nhs-amber;
        }
        
        [cpn-story_dot~="front"]::after {
            background-color: #fff;
        }
        
        [spc-nhs-rag_link] {
            color: #fff;
        }
    }
}

    [spc-nhs-rag_title] {
        height: rem(34px);
        padding-right: rem($spacing-base);
        -ms-word-break: break-all;
            word-break: break-all;
            // Non standard for webkit
            word-break: break-word;
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
    }

    [spc-nhs-rag_value] {
        line-height: 1;
    }

        [spc-nhs-rag_comparison] {
            display: inline-block;
            font-size: rem(12px);
            padding: 0 rem($spacing-base / 2);
            border-radius: rem(3px);
        }

[solomon-story="overall-perf-rag-tile"] {
    [cpn-story_dot]::after {
        background-color: #fff;
    }
    
    [spc-nhs-rag_link] {
        color: #fff;
    }
}