[spc-opc_chosen-value] {
    font-size: rem(30px);
    line-height: rem(38px);
    font-weight: 500;
    color: $nhs-blue;
}

[spc-opc_chosen-location] {
    font-size: rem(15px);
}

    [spc-opc_bars] {
        height: rem(340px);
        position: relative;
    }
    
        [spc-opc_avg-line] {
            border-radius: rem(5px);
            position: absolute;
            height: 100%;
            width: rem(3px);
            top: 0;
            left: 0;
            @include transition(1s);
        }
        
        [spc-opc_avg-line="national"] {
            background-color: $nhs-red;
        }
        
        [spc-opc_avg-line="location"] {
            background-color: #000;
        }

        [spc-opc_bar] {
            height: 0;
            background-color: #cfcfcf;
            border-radius: 0 rem(5px) rem(5px) 0;
            font-size: 0; // hide the text
            @include transition(height 1s, background-color .25s);
            cursor: pointer;
            
            &:hover, &:focus {
                background-color: $nhs-blue;
            }
        }
        
        [spc-opc_bar="selected"] {
            background-color: $nhs-blue;
        }
        
    [spc-opc_axis] {
        border-top: 1px solid #000;
    }
    
        [spc-opc_axis-label] {
            display: inline-block;
            vertical-align: top;
            font-size: rem(12px);
            position: relative;
            margin-bottom: 0;
            
            &::before {
                content: '';
                background-color: #000;
                width: rem(1px);
                height: rem(4px);
                position: absolute;
                top: rem(-4px);
                left: 0;
                right: 0;
                margin: auto;
            }
            
            &:first-child {
                &::before {
                    right: auto;
                }
            }
            
            &:last-child {
                &::before {
                    left: auto;
                    right: 0;
                }
            }
        }
        
    [spc-opc_legend-label] {
        display: inline-block;
        vertical-align: middle;
        font-size: rem(12px);
        
        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: rem(3px);
            width: rem(22px);
            margin-right: rem($spacing-base / 2);
            border-radius: rem(5px);
        }
    }
    
    [spc-opc_legend-label="national"] {
        &::before {
            background-color: $nhs-red;
        }
    }
    
    [spc-opc_legend-label="location"] {
        &::before {
            background-color: #000;
        }
    }