[solomon-story="region-map"] {
    [cpn-story_bar],
    [cpn-story_dot]::after {
        background-color: #fff;
    }
}

    [spc-nhs-rm_map] {
        svg {
            width: 188px;
            height: 242.5px;
            
            path {
                fill: #fff;
                @include transition(.3s);
            }
        }
    }

    [spc-nhs-rm_map] {
        [id^="Fill"] {
            cursor: pointer;
            
            &:hover {
                fill: #D0CFCF;
            }
        }
    }

    // London
    [spc-nhs-rm_map="Y56"] {
        #Fill-9 {
            fill: $nhs-green;
        }
    }

    // South
    [spc-nhs-rm_map="Y57"] {
        #Fill-4 {
            fill: $nhs-green;
        }
    }

    // North
    [spc-nhs-rm_map="Y54"] {
        #Fill-1 {
            fill: $nhs-green;
        }
    }

    // Midlands
    [spc-nhs-rm_map="Y55"] {
        #Fill-6 {
            fill: $nhs-green;
        }
    }