[solomon-story="treatment-rag-tile"] {
    [cpn-story~="has-deviated"] {
        [cpn-story_bar~="front"] {
            background-color: $nhs-red;
        }
        
        [cpn-story_dot~="front"]::after {
            background-color: #fff;
        }
        
        [spc-trt_link] {
            color: #fff;
        }
    }
}

    [spc-trt_treatment] {
        height: rem(34px);
    }

    [spc-trt_value] {
        line-height: 1;
    }

        [spc-trt_comparison] {
            display: inline-block;
            font-size: rem(12px);
            padding: 0 rem($spacing-base / 2);
            border-radius: rem(3px);
        }