{{#stories/story-base}}

    <div spc-quick-search cpn-margin="bottom">
        <input spc-quick-search_input placeholder="Search" type="text">
        <button cpn-button="move" spc-quick-search_submit class="svg-arrow-circled" data-grunticon-embed>Search</button>
    </div>
    
    <a cpn-font="12px" href="javascript:">Advanced search &gt;</a>
    
{{/stories/story-base}}
