{{#stories/story-base}}

    <div cpn-font="12px">
        <div cpn-divide="top solid faded-dark">
            <div cpn-margin="left" cpn-float="right" cpn-width="25%">
                <a href="javascript:'" cpn-button="move">View</a>
            </div>
            <h3 cpn-font="500 15px">1. This is a note title</h3>
            <p>Mauris eu aliquam leo. Suspendisse gravida vestibulum dolor nec feugiat. Nunc tempor augue a sapien molestie ullamcorper.</p>
        </div>
    </div>
    
{{/stories/story-base}}
