<section class="gallery__section -categories">
	{{#each categories as |cat|}}
		<div>
			<h3 cpn-thumb-list_heading>{{cat.category.title}}</h3>

			<div cpn-thumb-list_wrapper cpn-divide="bottom">
			    <ul cpn-thumb-list_items>        
			        {{#each cat.items as |canvas|}}
			        	{{stories/story-library/list-view-thumbnail model=canvas action="loadACanvas" thumb-icon="add-canvas"}}
			        {{/each}}
			    </ul>
			</div>
		</div>
	{{/each}}
	{{yield}}
</section>