

{{#stories/story-base 
    title=title 
    subTitle=subTitle 
    color="-medium-blue" 
    width="-w2" 
    height="-h2" 
    data-ss-colspan="2"
    author="Nathan Smith"
    }}
    <main cpn-story-body="scrollV height2">
        <ul class="margin-left-no">
            {{#each items as |item|}}
                <li cpn-snippet>
                    <div cpn-snippet_inner>
                        <img cpn-snippet_img src="https://placeholdit.imgix.net/~text?txtsize=5&txt=36%C3%9736&w=36&h=36" alt="">
                        <p cpn-snippet_title>{{item.title}}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </main>
{{/stories/story-base}}

