// Alignment
[cpn-text~="center"] {
    text-align: center;
}

[cpn-text~="justify"] {
    text-align: justify;
}

[cpn-text~="left"] {
    text-align: left;
}

[cpn-text~="right"] {
    text-align: right;
}

// Decoration
// Needs renaming - ambiguous when on an element
[cpn-text~="none"] {
    text-decoration: none;
}

[cpn-text~="line-through"] {
    text-decoration: line-through;
}

[cpn-text~="overline"] {
    text-decoration: overline;
}

[cpn-text~="underline"] {
    text-decoration: underline;
}

[cpn-text~="over-under-line"] {
    text-decoration: overline underline;
}

// Transform
[cpn-text~="capitalize"] {
    text-transform: capitalize;
}

[cpn-text~="lowercase"] {
    text-transform: lowercase;
}

[cpn-text~="none"] {
    text-transform: none;
}

[cpn-text~="uppercase"] {
    text-transform: uppercase;
}