[cpn-divide],
%cpn-divide {
    border-color: #000;
    border-style: dotted;
    border-width: 0;
    
    [solomon-app~="bid"] & {
        border-color: $bid-dark-blue;
    }
}

[cpn-divide~="top"],
%cpn-divide-top {
    border-top-width: 1px;
    padding-top: rem($spacing-base);
}

[cpn-divide~="right"],
%cpn-divide-right {
    border-right-width: 1px;
    padding-right: rem($spacing-base);
}

[cpn-divide~="bottom"],
%cpn-divide-bottom {
    border-bottom-width: 1px;
    margin-bottom: rem($spacing-base);
}

[cpn-divide~="left"],
%cpn-divide-left {
    border-left-width: 1px;
    padding-left: rem($spacing-base);
}

[cpn-divide~="light"],
%cpn-divide-light {
    border-color: #fff;
}

[cpn-divide~="faded-light"],
%cpn-divide-light {
    border-color: rgba(255,255,255,.3);
}

[cpn-divide~="faded-dark"],
%cpn-divide-light {
    border-color: rgba(0,0,0,.1);
}

[cpn-divide~="solid"],
%cpn-divide-solid {
    border-style: solid;
}