$button-height: $spacing-base * 4;

// Base button style
[cpn-button],
%cpn-button {
    font-weight: 500;
    font-size: rem(14px);
    height: rem($button-height);
    line-height: rem($button-height);
    text-align: center;
    
    background-color: $medium-grey;
    color: $black;
    
    border: 0;
    border-radius: rem(3px);
    outline: none;
    
    cursor: pointer;
    text-decoration:none;
    
    // min-width: rem(115px);
    width: 100%; // wrap buttons in a container to handle any specific widths
    max-width: 100%;
    padding: 0 rem($spacing-base * 2);
    display: block;
    
    @include transition(.3s);
    
    [solomon-app~="yorkshire-water"] & {
        font-family: $swissboldrounded;
    }
    
    &:hover, &:focus {
        background-color: lighten($medium-grey, 5%);
    }
    
    &:active {
        background-color: darken($medium-grey, 5%);
    }
}

// Small buttons
[cpn-button~="small"],
%cpn-button-small {
    font-size: rem(12px);
    padding-right: rem($spacing-base);
    padding-left: rem($spacing-base);
    height: rem($button-height * .75);
    line-height: rem($button-height * .75);
}

// Action button style, for buttons which trigger an action, such as submit buttons
[cpn-button~="action"],
%cpn-button-action {
    background-color: $red;
    color: #fff;
    
    &:hover, &:focus {
        background-color: $light-red;
    }
    
    &:active {
        background-color: $dark-red;
    }
    
    [solomon-app~="yorkshire-water"] & {
        background-color: $yw-red;
        
        &:hover, &:focus {
            background-color: lighten($yw-red, 5%);
        }
        
        &:active {
            background-color: darken($yw-red, 5%);
        }
    }
    
    [solomon-app~="nhs"] & {
        background-color: $nhs-red;
        
        &:hover, &:focus {
            background-color: lighten($nhs-red, 5%);
        }
        
        &:active {
            background-color: darken($nhs-red, 5%);
        }
    }
}

// Move button styles, for buttons which take the user to a different location
[cpn-button~="move"],
%cpn-button-move {
    background-color: $blue;
    color: $white;
    
    &:hover, &:focus {
        background-color: lighten($blue, 5%);
    }
    
    &:active {
        background-color: darken($blue, 5%);
    }
    
    [solomon-app~="yorkshire-water"] & {
        background-color: $yw-medium-blue;
        
        &:hover, &:focus {
            background-color: lighten($yw-medium-blue, 5%);
        }
        
        &:active {
            background-color: darken($yw-medium-blue, 5%);
        }
    }
    
    [solomon-app~="nhs"] & {
        background-color: $nhs-blue;
        
        &:hover, &:focus {
            background-color: lighten($nhs-blue, 5%);
        }
        
        &:active {
            background-color: darken($nhs-blue, 5%);
        }
    }
}

// Ghost button styles. These look like buttons but are intended for static informational tags
[cpn-button~="ghost"],
%cpn-button-ghost {
    $border-width: 2px;
    
    background-color: transparent;
    color: $dark-grey;
    
    border: 2px solid $dark-grey;
    
    padding-right: rem($spacing-base * 2 - $border-width);
    padding-left: rem($spacing-base * 2 - $border-width);
    line-height: rem($button-height - ($border-width * 2));
    
    cursor: default;
    
    &:hover, &:focus, &:active {
        background-color: transparent;
    }
}

[cpn-button~="chosen"],
%cpn-button-chosen {
    &, &:hover, &:focus {
        background-color: $lime;
        color: #fff;
        
        [solomon-app~="yorkshire-water"] & {
            background-color: $yw-green;
        }
        
        [solomon-app~="nhs"] & {
            background-color: $nhs-green;
        }
    }
}

[cpn-button~="bright"],
%cpn-button-bright {
    color: $blue;
    background-color: #fff;
    
    &:hover, &:focus {
        background-color: #fff;
        color: lighten($blue, 5%);
    }
    
    &:active {
        background-color: #fff;
        color: darken($blue, 5%);
    }
}

[cpn-button~="full"],
%cpn-button-full {
    width: 100%;
}