[cpn-padding~="top"] {
    padding-top: rem($spacing-base);
}

[cpn-padding~="top-double"] {
    padding-top: rem($spacing-base * 2);
}

[cpn-padding~="right"] {
    padding-right: rem($spacing-base);
}

[cpn-padding~="left"] {
    padding-left: rem($spacing-base);
}

[cpn-padding~="bottom"] {
    padding-bottom: rem($spacing-base);
}

[cpn-padding="none"] {
    padding: 0;
}