[cpn-v-align="top"] {
    vertical-align: top;
}

[cpn-v-align="middle"] {
    vertical-align: middle;
}

[cpn-v-align="bottom"] {
    vertical-align: bottom;
}

[cpn-v-align="baseline"] {
    vertical-align: baseline;
}