[cpn-snippet],
%cpn-snippet {
    display: block;
    
    &:not(:last-child) {
        padding-bottom: rem($helper-spacing / 2);
        border-bottom: 1px dotted #fff;
        margin-bottom: rem($helper-spacing / 2);
    }
}

    [cpn-snippet_inner],
    %cpn-snippet-inner {
        display: block;
        background-color: rgba(255,255,255,.2);
        border-radius: rem(3px);
        padding: rem($helper-spacing) rem($helper-spacing) 0;
        color: #fff;
        overflow: hidden;
        @include transition(.3s);
        
        [cpn-bg-color="white"] & {
            color: #000;
        }
        
        [cpn-snippet]:first-child &,
        %cpn-snippet:first-child & {
            background-color: rgba(255,255,255,.4);
            
            .story:hover &, .story:focus & {
                background-color: rgba(255,255,255,.2);
            }
        }
    }
    
    a[cpn-snippet_inner],
    a%cpn-snippet_inner {
        text-decoration: none;
        
        &,
        .story:hover &:first-child,
        .story:focus &:first-child,
        .story:active &:first-child {
            &:hover, &:focus, &:active {
                background-color: rgba(255,255,255,.4);
            }
        }
    }

        [cpn-snippet_img],
        %cpn-snippet-img {
            float: left;
            vertical-align: top;
            margin-right: rem($helper-spacing);
            margin-bottom: rem($helper-spacing);
            border-radius: rem(1px);
            width: rem(36px);
            height: auto;
            
            [solomon-story="yw-rss-feed"] & {
                display: none;
            }
        }
        
        [cpn-snippet_title],
        %cpn-snippet-title {
            overflow: hidden;
            margin-bottom: rem($helper-spacing);
            line-height: 1.3;
            font-size: rem(13px);
        }