[cpn-width="auto"] {
    width: auto;
}

[cpn-width="10%"] {
    width: 10%;
}

[cpn-width="20%"] {
    width: 20%;
}

[cpn-width="25%"] {
    width: 25%;
}

[cpn-width="30%"] {
    width: 30%;
}

[cpn-width="33%"] {
    width: 33.333%;
}

[cpn-width="40%"] {
    width: 40%;
}

[cpn-width="50%"] {
    width: 50%;
}

[cpn-width="60%"] {
    width: 60%;
}

[cpn-width="66%"] {
    width: 66.666%;
}

[cpn-width="70%"] {
    width: 70%;
}

[cpn-width="75%"] {
    width: 75%;
}

[cpn-width="80%"] {
    width: 80%;
}

[cpn-width="90%"] {
    width: 90%;
}

[cpn-width="100%"] {
    width: 100%;
}