[cpn-position="absolute"] {
    position: absolute;
}

[cpn-position="fixed"] {
    position: fixed;
}

[cpn-position="relative"] {
    position: relative;
}

[cpn-position="static"] {
    position: static;
}

[cpn-position="sticky"] {
    position: sticky;
}