[cpn-font-weight="100"] {
    font-weight: 100;
}

[cpn-font-weight="200"] {
    font-weight: 200;
}

[cpn-font-weight="300"] {
    font-weight: 300;
}

[cpn-font-weight="400"] {
    font-weight: 400;
}

[cpn-font-weight="500"] {
    font-weight: 500;
}

[cpn-font-weight="600"] {
    font-weight: 600;
}

[cpn-font-weight="700"] {
    font-weight: 700;
}

[cpn-font-weight="800"] {
    font-weight: 800;
}

[cpn-font-weight="900"] {
    font-weight: 900;
}

[cpn-font-weight="lighter"] {
    font-weight: lighter;
}

[cpn-font-weight="normal"] {
    font-weight: normal;
}

[cpn-font-weight="bold"] {
    font-weight: bold;
}

[cpn-font-weight="bolder"] {
    font-weight: bolder;
}