[cpn-bg-color="lighter-blue"] {
    background-color: $lighter-blue;
    color: #fff;
}

[cpn-bg-color="light-blue"] {
    background-color: $light-blue;
    color: #fff;
}

[cpn-bg-color="red"] {
    background-color: $red;
    color: #fff;
}

[cpn-bg-color="black"] {
    background-color: $black;
    color: #fff;
}

[cpn-bg-color="yellow"] {
    background-color: $yellow;
    color: #000;
}

[cpn-bg-color="white"] {
    background-color: #fff;
    color: #000;
}

[cpn-bg-color="lime"] {
    background-color: $lime;
    color: #fff;
}