[cpn-nested-story] {
    @extend %cpn-story;
    padding: 0;
    
    [cpn-story_face] {
        @include transform(none); // Prevents Safari rending the nested story blurry
    }
}

[cpn-nested-story~="width-1"] {
    width: 140px;
}

[cpn-nested-story~="height-1"] {
    height: 140px;
}