// Alignment
[cpn-margin*="middle"] {
    display: block;
}

[cpn-margin~="middle-h"] {
    margin-right: auto;
    margin-left: auto;
}

[cpn-margin~="middle-v"] {
    margin-top: auto;
    margin-bottom: auto;
}

[cpn-margin~="middle-vh"] {
    margin: auto;
}

// Top
[cpn-margin~="top"] {
    margin-top: rem($spacing-base);
}

// Right
[cpn-margin~="top-none"] {
    margin-top: 0;
}

[cpn-margin~="right"] {
    margin-right: rem($spacing-base);
}

[cpn-margin~="right-none"] {
    margin-right: 0;
}

// Bottom
[cpn-margin~="bottom-none"] {
    margin-bottom: 0;
}

[cpn-margin~="bottom-half"] {
    margin-bottom: rem($spacing-base / 2);
}

[cpn-margin~="bottom"] {
    margin-bottom: rem($spacing-base);
}

[cpn-margin~="bottom-double"] {
    margin-bottom: rem($spacing-base * 2);
}

// Left
[cpn-margin~="left"] {
    margin-left: rem($spacing-base);
}

[cpn-margin~="left-none"] {
    margin-left: 0;
}

[cpn-margin="none"] {
    margin: 0;
}