$input-height: 40px;
$input-border-width: 2px;

// Text fields (inc. password, email textarea etc.)
[cpn-input~="text"],
[cpn-input~="textarea"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    height: rem($input-height);
    padding: rem(7px) rem(($spacing-base * 1.5) - $input-border-width);
    border: rem($input-border-width) solid $light-grey;
    color: $color-app-black;
    background-color: #fff;
    font-size: rem($font-base);
    line-height: rem(22px);
    border-radius: rem(3px);
    outline: none;
    box-shadow: none;
    @include appearance(none);
    @include transition(.3s);
    
    &:focus {
        border-color: $grey;
    }
    
    &:disabled {
        cursor: not-allowed;
        background-color: $light-grey;
        color: $grey;
    }
    
    &::-webkit-input-placeholder {
       color: $grey;
    }

    &::-moz-placeholder {
       color: $grey;  
    }

    &:-ms-input-placeholder {  
       color: $grey;  
    }
    
    &[cpn-input~="is-valid"] {
        border-color: $color-app-success;
        background-color: lighten($color-app-success, 40%);
    }
    
    &[cpn-input~="is-invalid"],
    &:invalid {
        border-color: $color-app-error;
        background-color: lighten($color-app-error, 40%);
    }
    
    &[cpn-input~="is-warning"] {
        border-color: $color-app-warning;
        background-color: lighten($color-app-warning, 40%);
    }
}

[cpn-input~="textarea"],
textarea {
    min-height: rem(98px);
    height: auto;
    // padding: rem($spacing-base) rem($spacing-base * 1.5);
    @include appearance(none);
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
    
    + label {
        vertical-align: top;
        display: inline-block;
        
        &::before {
            content: '';
            border: 6px solid $light-grey;
            background-color: $light-grey;
            width: rem(22px);
            height: rem(22px);
            display: inline-block;
            @include appearance(none);
            vertical-align: top;
            margin-right: rem($spacing-base / 2);
            @include transition(.3s);
        }
    }
    
    &:checked {
        + label {
            &::before {
                background-color: $grey;
            }
        }
    }
}

input[type="radio"] {
    + label {
        &::before {
            border-radius: 50%;
        }
    }
}

input[type="checkbox"] {
    + label {
        &::before {
            border-radius: rem(3px);
        }
    }
}