[cpn-message] {
	&::before {
		content: '';
		display: inline-block;
		margin-right: rem($spacing-base / 2);
	}
}

[cpn-message="error"] {
	color: $red;
	
	&::before {
	   @include svg--error-icon;
	   background-size: 9px 9px;
	   width: 9px;
	   height: 9px;
	}
}