[cpn-bg-color="lighter-blue"] {
    background-color: $lighter-blue;
    color: #fff;
}

[cpn-bg-color="light-blue"] {
    background-color: $light-blue;
    color: #fff;
}

[cpn-bg-color="blue"] {
    background-color: $blue;
    color: #fff;
}

[cpn-bg-color="medium-blue"] {
    background-color: $medium-blue;
    color: #fff;
}

[cpn-bg-color="dark-blue"] {
    background-color: $dark-blue;
    color: #fff;
}

[cpn-bg-color="red"] {
    background-color: $red;
    color: #fff;
}

[cpn-bg-color="black"] {
    background-color: $black;
    color: #fff;
}

[cpn-bg-color="dark-grey"] {
    background-color: $dark-grey;
    color: #fff;
}

[cpn-bg-color="yellow"] {
    background-color: $yellow;
    color: #000;
}

[cpn-bg-color="white"] {
    background-color: #fff;
    color: #000;
}

[cpn-bg-color="lime"] {
    background-color: $lime;
    color: #fff;
}

[cpn-bg-color="mint"] {
    background-color: $mint;
    color: #000;
}

[cpn-bg-color="amber"] {
    background-color: $amber;
    color: #fff;
}

[cpn-bg-color="yw-dark-blue"] {
    background-color: $yw-dark-blue;
    color: #fff;
}