[cpn-frame_heading] {
    // Should be applied to <h2>
    font-weight: 500;
    margin-bottom: rem($spacing-base);
}

[cpn-frame_close] {
    display: block;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    margin-top: rem($spacing-base / 2);
    cursor: pointer;
}