[cpn-width="auto"] {
    width: auto;
}

[cpn-width="25%"] {
    width: 25%;
}

[cpn-width="33%"] {
    width: 33.333%;
}

[cpn-width="50%"] {
    width: 50%;
}

[cpn-width="66%"] {
    width: 66.666%;
}

[cpn-width="75%"] {
    width: 75%;
}

[cpn-width="100%"] {
    width: 100%;
}