<h3 cpn-thumb-list_heading>Suggested Canvasses</h3>

<div cpn-thumb-list_wrapper cpn-divide="bottom">
    <ul cpn-thumb-list_items>
        {{#if items}}
        	{{#each items as |canvas|}}
        		{{stories/story-library/list-view-thumbnail model=canvas action="loadACanvas" thumb-icon="add-canvas"}}
        	{{/each}}
        {{else}}
        	<li cpn-thumb-list_item="wide">
        		<h4 cpn-thumb-list_title>Sorry, we don't have any suggested canvasses right now.</h4>
        	</li>
        {{/if}}
    </ul>
</div>

<div class="table -fixed">

	{{canvas-gallery/lister-users}}

	{{yield}}

</div>
