{{#stories/story-base}}

    {{#stories/story-slider loaded=loaded}}

      {{#each items as |item|}}

        {{#stories/story-slide}}

          <h3>{{item.title}}</h3>

          {{{item.description}}}

        {{/stories/story-slide}}

      {{/each}}

    {{/stories/story-slider}}

{{/stories/story-base}}
