{{#stories/story-base}}

    <p spc-levy_amount cpn-divide="bottom solid faded-light" cpn-padding="top bottom-half">
        <span cpn-color="orange">£</span> <span>2000</span>
    </p>
    
    <p spc-levy_text>
        <span cpn-font="700" cpn-display="block">Levy</span>
        <span cpn-display="block">Dolor sit amet</span>
    </p>
    
    <div cpn-divide="top solid faded-light" cpn-padding="top-none">
        <a spc-val_link cpn-font="700" href="javascript:;">Tap to view</a>
    </div>
{{/stories/story-base}}
