{{#stories/story-base}}

    <div spc-mot-msg cpn-clearfix>
        <div spc-mot-msg_graphic-outer>
            <div spc-mot-msg_graphic data-grunticon-embed class="svg-bin icon-bin"></div>
        </div>
        
        <div cpn-padding="top" cpn-overflow="hidden">
            <p spc-mot-msg_pri>{{primaryMessage}}</p>
            <p spc-mot-msg_sec>{{secondaryMessage}}</p>
        </div>
    </div>
    
{{/stories/story-base}}
