{{#stories/story-base}}

    <h3 cpn-story_title>2014</h3>
    
    <p cpn-font="12px">Seen in <strong>52+ week</strong> waits over the previous 12 months. The highest level of percentage growth in patient cohorts accross the region</p>
    
    <div spc-nhs-pc-bar cpn-bg-color="white">
        <div spc-nhs-pc-bar_inner style="width: {{percentage}}%;" cpn-bg-color="green">
            <span spc-nhs-pc-bar_value cpn-font="500">{{percentage}}%</span>
        </div>
    </div>
    
{{/stories/story-base}}
