<div cpn-padding="right-double bottom left-double">
    <p>Occupant ID</p>
    <p>Archived</p>
    <p>Organisation</p>
    <p>Property</p>
    <p>Joining Date</p>
    <ul>
        <li>Tag 1</li>
        <li>Tag 2</li>
        <li>Tag 3</li>
    </ul>
    <p>Sector</p>
    <p>Business type</p>
    <ul>
        <li>Voter</li>
        <li>Bill payer</li>
        <li>Accounts dept</li>
        <li>Local contact</li>
        <li>Company member</li>
    </ul>
    <p>Influencer</p>
    <p>Empty</p>
    <p>
        1 Leeds Street
        <br>Leeds Place
        <br>Leeds
        <br>LS1 1AA
    </p>
    
    <p>
        <a cpn-button="move" href="javascript:;">Notes</a>
    </p>
</div>