{{#stories/story-base}}

    <div cpn-font="12px">
        <div cpn-divide="top solid faded-dark">
            <div cpn-float="right">
                <a href="javascript:'" cpn-button="move small">View</a>
            </div>
            <div cpn-overflow="hidden">
                <h3 cpn-font="500 15px" cpn-margin="bottom-none">Boots</h3>
                <p>
                    Trinity Leeds
                    <br>19 Albion Street
                    <br>0113 1234567
                </p>
            </div>
        </div>
        <div cpn-divide="top solid faded-dark">
            <div cpn-float="right">
                <a href="javascript:'" cpn-button="move small">View</a>
            </div>
            <div cpn-overflow="hidden">
                <h3 cpn-font="500 15px" cpn-margin="bottom-none">Boots</h3>
                <p>
                    Trinity Leeds
                    <br>19 Albion Street
                    <br>0113 1234567
                </p>
            </div>
        </div>
        <div cpn-divide="top solid faded-dark">
            <div cpn-float="right">
                <a href="javascript:'" cpn-button="move small">View</a>
            </div>
            <div cpn-overflow="hidden">
                <h3 cpn-font="500 15px" cpn-margin="bottom-none">Boots</h3>
                <p>
                    Trinity Leeds
                    <br>19 Albion Street
                    <br>0113 1234567
                </p>
            </div>
        </div>
        <div cpn-divide="top solid faded-dark">
            <div cpn-float="right">
                <a href="javascript:'" cpn-button="move small">View</a>
            </div>
            <div cpn-overflow="hidden">
                <h3 cpn-font="500 15px" cpn-margin="bottom-none">Boots</h3>
                <p>
                    Trinity Leeds
                    <br>19 Albion Street
                    <br>0113 1234567
                </p>
            </div>
        </div>
    </div>
    
{{/stories/story-base}}
