<div class="js-canvas-switcher canvas-switcher {{blurred}}">
    <h1 class="heading -switch-canvas">Switch Canvas</h1>
    <ul class="js-canvas-switcher-list canvas-switcher__list">
        {{canvas-element currentCanvas=currentCanvas}}
        
<!--        {{#each canvas in canvases}}
            {{canvas-element model=canvas}}            
        {{/each}}-->
    </ul>
    <!--<footer class="js-canvas-switcher-footer canvas-switcher-footer">
		<span class="pg-of">Page <span class="pg-of__x">1</span> of <span class="pg-of__y">1</span></span>
		<div class="carousel-pager">
		    <button class="carousel-pager__btn -prev">Prev</button>
		    <div class="carousel-pager__numbers"></div>
		    <button class="carousel-pager__btn -next">Next</button>
		</div>
    </footer>-->
    <footer class="js-canvas-switcher-footer canvas-switcher-footer">
        <span class="pg-of">Page <span class="pg-of__x">1</span> of <span class="pg-of__y">3</span></span>
        <div class="carousel-pager">
            <button class="carousel-pager__btn -prev" style="display: block;">Prev</button>
            <div class="carousel-pager__numbers" style="display: block;"></div>
            <button class="carousel-pager__btn -next" style="display: block;">Next</button>
        </div>
    </footer>
</div>