<div class="js-dashboard-wrapper wrapper -dashboard -open">

    {{#header-nav navItems=navItems subNavItems=subNavItems action="gotoRoute"}}
        <span class="site-logo -wide">
            <a href="javascript:void();" class="svg-logo" data-grunticon-embed>Powered by: Leeds Data Mill</a>
        </span>
    	<span class="site-logo -thin">
            <a href="javascript:void();" class="svg-logo-thin" data-grunticon-embed>Powered by: Leeds Data Mill</a>
        </span>
    {{/header-nav}}

	<main class="site-body">
		{{canvas-switcher}}
	</main>
	
	{{bottom-drawer}}
    {{outlet}}

</div>