
{{#stories/story-base
    title=title
    subTitle=subTitle
    color="lighter-blue"
    width="2"
    height="2"
    data-ss-colspan="2"

    dataSourceUrl="http://leedsdatamill.org"
    feedbackEmail="simon@hebeworks.com"
    description="This Story uses Statutory Notices data supplied by Licencing and Planning teams from Leeds City Council."
    license="Open Government License"
    author="Nathan Smith"
}}
    
    <div cpn-divide="bottom light">
        <p class="story__para">Statutory notices are legally required public notices which inform residents of proposed changes about specific things.</p>
    </div>
    
    <div cpn-divide="bottom light">
        <ul class="stat-notices-recent__notice-list">
            <li class="stat-notices-recent__notice-item">
                <div class="stat-notices-recent__figure">{{licensingTotal}}</div>
                <span class="gamma helvbold block">Licensing</span>
            </li>
            <li class="stat-notices-recent__notice-item">
                <div class="stat-notices-recent__figure">{{planningTotal}}</div>
                <span class="gamma helvbold block">Planning</span>
            </li>
        </ul>
    </div>
    
    <button cpn-button="move small bright" {{action "gotoRoute" 'statnotices.index'}}>View Stat Notices</button>
{{/stories/story-base}}
