{{#stories/story-base}}
    
    <div cpn-divide="bottom light">
        <p class="story__para">Statutory notices are legally required public notices which inform residents of proposed changes about specific things.</p>
    </div>
    
    <div cpn-divide="bottom light">
        <ul class="stat-notices-recent__notice-list">
            <li class="stat-notices-recent__notice-item">
                <div class="stat-notices-recent__figure">{{licensingTotal}}</div>
                <span class="gamma helvbold block">Licensing</span>
            </li>
            <li class="stat-notices-recent__notice-item">
                <div class="stat-notices-recent__figure">{{planningTotal}}</div>
                <span class="gamma helvbold block">Planning</span>
            </li>
        </ul>
    </div>
    
    <button cpn-button="move small bright" {{action "gotoRoute" 'statnotices.index'}}>View Stat Notices</button>
{{/stories/story-base}}
