<div class="cmp_tutorial_wrapper" style="
		height: 370px;
		width: 538px;
		border: solid 0px red;
		overflow: hidden;
		margin: 0 auto;">

        {{#if filePath}}
            <div id="tutorialnew2_hype_container" style="margin:-2px 0 0 0;position:relative;height: 370px;width: 538px; overflow:hidden;" aria-live="polite">
                <script type="text/javascript" charset="utf-8" src="{{filePath}}"></script>
            </div>
        {{/if}}
	
	
	{{yield}}
</div>