<div class="cmp_tutorial_wrapper" style="height: 370px;
	width: 538px;
	border: solid 0px red;
	overflow: hidden;
	margin: 0 auto;">
	<div id="solomontutorialnew_hype_container" style="margin:auto;
		position:relative;
		height: 100%;
		width: 100%;
		overflow:hidden;
		margin-top:-2px;" 
	aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="/assets/img/tutorial-intro-assets/solomontutorialnew_hype_generated_script.js?63616"></script>
	</div>
	{{yield}}
</div>