{{yield}}

<div class="stat-notices__map-view">
    {{google-map 
        lat=53.801277
        lng=-1.548567
        markerInfoWindowTemplateName='map/info-window'
        markers=markers
        zoom=9
    }}           
</div>
