{{#stories/story-base}}

    <main class="eagle-weather-balloon-flight-data">
        <div class="eagle-weather-balloon-flight-data__welcome">
            <p>This is a the eagleWeatherBalloonFlightData story.</p>
        </div>                   

        
        
                {{google-map 
            lat=lat 
            lng=lng 
            zoom=zoom
            markers=markers
            gopt_styles=mapStyles
            gopt_zoomControl=false
            gopt_mapTypeControl=false
            }}
<!--          
  gopt_zoomControl=false
            markerInfoWindowTemplateName='app/components/stories/complete/bicycle-bays/google-map-info-window/'
            markerInfoWindowTemplateName='google-maps/info-window'
            }}-->
        
        
        
    </main>
{{/stories/story-base}}
