{{#stories/story-base}}

    <h3 spc-vtwt_title="{{trend}}" cpn-font="30px 500" cpn-divide="solid bottom faded-dark">
        {{markdown-to-html markdown=title}}
    </h3>
    
    <p spc-vtwt-content>
        {{markdown-to-html markdown=content}}
    </p>
{{/stories/story-base}}
