$fill-size: 170px;

[spc-bin-levels_label] {
    font-size: rem(10px);
    text-align: center;
}

[spc-bin-levels] {
    position: relative;
    text-align: center;
    margin: auto;
    width: rem(194px);
    height: rem(194px);
    padding: rem(12px);
    
    &::before {
        content: '';
        position: absolute;
        top: rem(-5px);
        left: 0;
        right: 0;
        margin: auto;
        height: rem(10px);
        width: rem(3px);
        background-color: $binnovation-black;
    }
}

    [spc-bin-levels_bin-day] {
        width: rem(15.5px);
        height: rem(20px);
        position: absolute;
        top: rem(-10px);
        left: 0;
        right: 0;
        margin: auto;
        @include transform(rotate(0deg));
        @include transform-origin(rem(7.75px) rem(107px));
        @include transition-duration(1.5s);
        @include transition-delay(1s);
        background-image: none;
        
        svg {
            width: 100%;
            height: 100%;
        }
    }

    [spc-bin-levels-fill] {
        position: relative;
        display: block;
        width: rem($fill-size);
        height: rem($fill-size);
        overflow: hidden;
    }

        [spc-bin-levels-fill_inner] {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 100%;
            @include transform-style(preserve-3d);
        }
        
            [spc-bin-levels-fill_circle~="back"] {
                position: absolute;
                top: 0;
                left: 0;
                width: $fill-size;
                height: $fill-size;
                background-color: $light-grey;
            }
            
                [spc-bin-levels-fill_data~="back"] {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    @include transform(translateY(-50%));
                }
                
                [spc-bin-levels-fill_desc] {
                    // background-color: rgba(255,255,255,.5);
                    // padding: rem($spacing-base / 2);
                    // display: inline-block;
                    font-size: rem(12px);
                    line-height: rem(14px);
                    font-weight: 500;
                    margin-bottom: rem($spacing-base * 2.5);
                    // border-radius: rem(3px);
                }
                
                [spc-bin-levels-fill_desc~="front"] {
                    color: #fff;
                }
                
                [spc-bin-levels-fill_label] {
                    font-weight: 500;
                    margin-bottom: 0;
                }
                
                [spc-bin-levels-fill_label~="front"] {
                    color: #fff;
                }
                
                [spc-bin-levels-fill_level] {
                    font-size: rem(30px);
                    line-height: rem(38px);
                    font-weight: 500;
                }
                
                [spc-bin-levels-fill_level~="front"] {
                    color: #fff;
                }
                
            [spc-bin-levels-fill_circle~="front"] {
                width: rem($fill-size);
                height: rem($fill-size);
                position: relative;
                overflow: hidden;
                margin-top: 100%; // initial value to keep it out of sight
                @include transition(margin-top 1s);
                @include transition-delay(.5s);
            }
            
            [spc-bin-levels-fill_circle~="green"] {
                background-color: $binnovation-green;
            }
            
            [spc-bin-levels-fill_circle~="orange"] {
                background-color: $binnovation-orange;
            }
                    
                [spc-bin-levels-fill_circle-inner~="front"] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: -100%; // initial value to keep it out of sight
                    left: 0;
                    @include transition(top 1s);
                    @include transition-delay(.5s);
                }
                
                    [spc-bin-levels-fill_data~="front"] {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        @include transform(translateY(-50%));
                    }