<main spc-style-guide class="site-body" cpn-padding="top-double right-double left-double">

    <div spc-style-guide_wrapper cpn-margin="middle-h">
        {{!-- Intro --}}
        <section spc-style-guide_section="intro">
            <h1>Solomon App Style Guide</h1>
            <p>This page shows all elements and components within the Solomon App. This is a living page in that it can update at any time with the latest styles.</p>
        </section>
        
        {{!-- Headings and Pragraphs --}}
        <section spc-style-guide_section>
            <h2 spc-style-guide_section-title>Headings and Paragraphs</h2>
        
            <div cpn-margin="bottom-double">
                <h1>Heading Level 1</h1>
                <p>
                    <code>&lt;h1&gt;</code> / 30px
                </p>
            </div>
            
            <div cpn-margin="bottom-double">
                <h2>Heading Level 2</h2>
                <p cpn-margin="bottom-none">
                    <code>&lt;h2&gt;</code> / 22.5px
                </p>
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Heading Level 3</h3>
                <p cpn-margin="bottom-none">
                    <code>&lt;h3&gt;</code> / 17.55px
                </p>
            </div>
            
            <div cpn-margin="bottom-double">
                <h4>Heading Level 4</h4>
                <p cpn-margin="bottom-none">
                    <code>&lt;h4&gt;</code> / 15px
                </p>
            </div>
            
            <div cpn-margin="bottom-double">
                <h5>Heading Level 5</h5>
                <p cpn-margin="bottom-none">
                    <code>&lt;h5&gt;</code> / 12.45px
                </p>
            </div>
            
            <div cpn-margin="bottom-double">
                <h6>Heading Level 6</h6>
                <p cpn-margin="bottom-none">
                    <code>&lt;h6&gt;</code> / 10.05px
                </p>
            </div>
            
            <div cpn-margin="bottom">
                <p>Paragraph of lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin tempor molestie. Fusce ut tortor ut nulla convallis luctus quis auctor lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec condimentum eget erat et tempor.</p>
                <p>Paragraph of lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin tempor molestie. Fusce ut tortor ut nulla convallis luctus quis auctor lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec condimentum eget erat et tempor.</p>
                <p cpn-margin="bottom-none">
                    <code>&lt;p&gt;</code> / 15px
                </p>
            </div>
        </section>
        
        {{!-- Lists --}}
        <section spc-style-guide_section>
            <h2 spc-style-guide_section-title>Lists</h2>
        
            <div cpn-margin="bottom-double">
                <h3>Unordered List</h3>
                <ul>
                    <li>List item 1</li>
                    <li>List item 2</li>
                    <li>
                        List item 3
                        <ul>
                            <li>Nested item 1</li>
                            <li>
                                Nested item 2
                                <ul>
                                    <li>Double nest item 1</li>
                                </ul>
                            </li>
                            <li>Nested item 3</li>
                        </ul>
                    </li>
                    <li>List item 4</li>
                    <li>List item 5</li>
                </ul>
            </div>
            
            <div cpn-margin="bottom">
                <h3>Ordered List</h3>
                <ol>
                    <li>List item 1</li>
                    <li>List item 2</li>
                    <li>
                        List item 3
                        <ol>
                            <li>Nested item 1</li>
                            <li>
                                Nested item 2
                                <ol>
                                    <li>Double nest item 1</li>
                                </ol>
                            </li>
                            <li>Nested item 3</li>
                        </ol>
                    </li>
                    <li>List item 4</li>
                    <li>List item 5</li>
                </ol>
            </div>
        </section>
        
        {{!-- Tables --}}
        <section spc-style-guide_section>
            <h2 spc-style-guide_section-title>Tables</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Col Heading 1</th>
                        <th>Col Heading 2</th>
                        <th>Col Heading 3</th>
                        <th>Col Heading 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Col Cell 1</td>
                        <td>Col Cell 2</td>
                        <td>Col Cell 3</td>
                        <td>Col Cell 4</td>
                    </tr>
                    <tr>
                        <td>Col Cell 1</td>
                        <td>Col Cell 2</td>
                        <td>Col Cell 3</td>
                        <td>Col Cell 4</td>
                    </tr>
                    <tr>
                        <td>Col Cell 1</td>
                        <td>Col Cell 2</td>
                        <td>Col Cell 3</td>
                        <td>Col Cell 4</td>
                    </tr>
                    <tr>
                        <td>Col Cell 1</td>
                        <td>Col Cell 2</td>
                        <td>Col Cell 3</td>
                        <td>Col Cell 4</td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        {{!-- Buttons --}}
        <section spc-style-guide_section>
            <h2 spc-style-guide_section-title>Buttons</h2>
            
            <div cpn-margin="bottom-double">
                <h3>Default</h3>
                <ul cpn-row-list="bottom">
                    <li>
                        <button cpn-button>Button</button>
                    </li>
                    <li>
                        <a href="javascript:;" cpn-button>Link</a>
                    </li>
                </ul>
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Selected</h3>
                <ul cpn-row-list="bottom">
                    <li>
                        <button cpn-button="chosen">Button</button>
                    </li>
                    <li>
                        <a href="javascript:;" cpn-button="chosen">Link</a>
                    </li>
                </ul>
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Action</h3>
                <ul cpn-row-list="bottom">
                    <li>
                        <button cpn-button="action">Button</button>
                    </li>
                    <li>
                        <a href="javascript:;" cpn-button="action">Link</a>
                    </li>
                </ul>
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Move</h3>
                <ul cpn-row-list="bottom">
                    <li>
                        <button cpn-button="move">Button</button>
                    </li>
                    <li>
                        <a href="javascript:;" cpn-button="move">Link</a>
                    </li>
                </ul>
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Ghost</h3>
                <ul cpn-row-list="bottom">
                    <li>
                        <button cpn-button="ghost">Button</button>
                    </li>
                    <li>
                        <a href="javascript:;" cpn-button="ghost">Link</a>
                    </li>
                </ul>
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Bright</h3>
                <div cpn-bg-color="black" cpn-padding="top right left">
                    <ul cpn-row-list="bottom">
                        <li>
                            <button cpn-button="bright">Button</button>
                        </li>
                        <li>
                            <a href="javascript:;" cpn-button="bright">Link</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div cpn-margin="bottom">
                <h3>Small</h3>
                <ul cpn-row-list="bottom">
                    <li>
                        <button cpn-button="small">Button</button>
                    </li>
                    <li>
                        <a href="javascript:;" cpn-button="small">Link</a>
                    </li>
                </ul>
            </div>
        </section>
        
        {{!-- Forms --}}
        <section spc-style-guide_section>
            <h2 spc-style-guide_section-title>Forms</h2>
            
            <div cpn-margin="bottom-double">
                <h3>Text Box</h3>
                <label for="">Label</label>
                <input type="text" placeholder="Placeholder text">
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Text Area</h3>
                <label for="">Label</label>
                <textarea></textarea>
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Select Box</h3>
                <label for="">Label</label>
                {{
                    select-2
                    content='Option 1, Option 2, Option 3'
                    placeholder="Choose an option"
                }}
            </div>
            
            <div cpn-margin="bottom-double">
                <h3>Radio Buttons</h3>
                <ul cpn-row-list="middle">
                    <li>
                        <input name="radios" id="radios1" type="radio">
                        <label for="radios1">Option 1</label>
                    </li>
                    <li>
                        <input name="radios" id="radios2" type="radio">
                        <label for="radios2">Option 2</label>
                    </li>
                    <li>
                        <input name="radios" id="radios3" type="radio" checked>
                        <label for="radios3">Option 3</label>
                    </li>
                </ul>
            </div>
            
            <div cpn-margin="bottom">
                <h3>Check Boxes</h3>
                <ul cpn-row-list="middle">
                    <li>
                        <input name="checkboxes" id="checkboxes1" type="checkbox">
                        <label for="checkboxes1">Option 1</label>
                    </li>
                    <li>
                        <input name="checkboxes" id="checkboxes2" type="checkbox">
                        <label for="checkboxes2">Option 2</label>
                    </li>
                    <li>
                        <input name="checkboxes" id="checkboxes3" type="checkbox" checked>
                        <label for="checkboxes3">Option 3</label>
                    </li>
                </ul>
            </div>
        </section>
        
        {{!-- Toggles --}}
        {{!-- <section spc-style-guide_section>
            <h2 spc-style-guide_section-title>Toggles</h2>
            
            <h3>Dark</h3>
            <ul cpn-toggle="dark">
                <li cpn-toggle_option="">Option 1</li>
                <li cpn-toggle_option="">Option 2</li>
                <li cpn-toggle_option="chosen">Option 3</li>
                <li cpn-toggle_option="">Option 4</li>
            </ul>
            
            <div cpn-bg-color="black" cpn-padding="top right left" cpn-margin="bottom">
                <h3>Bright</h3>
                <ul cpn-toggle="bright">
                    <li cpn-toggle_option="">Option 1</li>
                    <li cpn-toggle_option="">Option 2</li>
                    <li cpn-toggle_option="chosen">Option 3</li>
                    <li cpn-toggle_option="">Option 4</li>
                </ul>
            </div>
        </section> --}}
        
        {{!-- Data Strips --}}
        {{!-- <section spc-style-guide_section>
            <h2 spc-style-guide_section-title>Data Strips</h2>
            
            <p cpn-data-strip>
                <span cpn-data-strip_item>
                    <span cpn-data-strip_label>Data Strip Label</span>
                    <span cpn-data-strip_value>data strip value</span>
                </span>
                <span cpn-data-strip_slice></span>
                <span cpn-data-strip_item>
                    <span cpn-data-strip_label>Data Strip Label</span>
                    <span cpn-data-strip_value>data strip value</span>
                </span>
                <span cpn-data-strip_slice></span>
                <span cpn-data-strip_item>
                    <span cpn-data-strip_label>Data Strip Label</span>
                    <span cpn-data-strip_value>data strip value</span>
                </span>
            </p>
        </section> --}}
    </div>

</main>
