<main class="site-body" cpn-padding="top right left">

    <h1>Solomon App Style Guide</h1>
    <p>This page shows all elements and components within the Solomon App. This is a living page in that it can update at any time with the latest styles.</p>
    
    <hr>

</main>
