
{{#stories/story-base
    title=title
    subTitle=subTitle
    color="white"
    width="2"
    height="2"
    data-ss-colspan="2"
    author="Ste Allan"
}}
    <h2 cpn-margin="bottom" class="beta">STATEMENT OF ACCOUNTS 2014/15</h2>
    
    <ol cpn-margin="bottom">
        <li>The audit of the Statement of Accounts of Leeds City Council for the year ended 31st March 2015 has been completed.</li>
        <li>Any local government elector for Leeds City Council has a legal right to look at and make copies of the Statement of Accounts and the associated auditor’s report. This can be done between 8.30 am and 4.00 pm on any working day at the Corporate Financial Management office of the Civic Hall, via the Information Desk at Portland Crescent, Leeds, LS1 1UR.</li>
        <li>Any local government elector for Leeds City Council also has the right to ask for copies of the Statement of Accounts and auditor’s report to be delivered to him or her. The council is entitled to make a reasonable charge to cover the cost of doing this.</li>
        <li>The Statement of Accounts and the associated auditor’s report can also be viewed online by any
            member of the public. <div><a href="http://www.leeds.gov.uk/council/Pages/our-financial-performance.aspx" cpn-button="move small" cpn-display="block" target="_blank">View accounts</a></div></li>
        <li>This is a statutory notice, as required by regulation 11 of the Accounts and Audit Regulations 2011.</li>
    </ol>
    
    <p cpn-margin="bottom-none">
        T Riordan
        <br>Chief Executive
        <br>Leeds City Council
        <br>Civic Hall
        <br>Leeds
        <br>LS1 1UR
        <br>16th October 2015
    </p>
{{/stories/story-base}}
