{{#stories/story-base}}
    <main class="parking-fines">
        <div class="parking-fines__inner svg-parking-fines-icon">
            <h2 class="beta">
                <span class="number-stat -medium">20,485</span>
                <span class="gamma"> Fines Issued</span>
            </h2>
            <p class="story__para">&pound;1.278m if paid in full</p>
        </div>
    </main>
{{/stories/story-base}}


