{{#stories/story-base}}

    {{#stories/story-slider loaded=loaded}}
    
        {{!-- Line Chart --}}
        {{#stories/story-slide}}
            <div id="google-line-chart"></div>
        {{/stories/story-slide}}
        
        {{!-- Column Chart --}}
        {{#stories/story-slide}}
            <div id="google-column-chart"></div>
        {{/stories/story-slide}}
        
        {{!-- Donut Chart --}}
        {{#stories/story-slide}}
            <div id="google-donut-chart"></div>
        {{/stories/story-slide}}
        
        {{!-- Stacked Column Chart --}}
        {{#stories/story-slide}}
            <div id="google-stacked-column-chart"></div>
        {{/stories/story-slide}}
        
    {{/stories/story-slider}}   
    
{{/stories/story-base}}
