[spc-dashboard-logo] {
    font-size: 0; // hide text
    position: absolute;
    top: 50%;
    left: rem(40px);
    @include transform(translateY(-50%));
    z-index: 2;
    
    [class*="svg-lcd-logo"] {
        svg {
            height: 45px;
            width: auto;
        }
    }
}

[spc-dashboard-logo="compact"] {    
    @include breakpoint(min-width 701px) {
        display: none;
    }
}

[spc-dashboard-logo="expanded"] {
    display: none;
    
    @include breakpoint(min-width 701px) {
        display: block;
    }
}