.story-meta {
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px 40px;
    background-color: $off-white;
    z-index: 2;
    overflow: scroll;
    @include transition(transform .3s ease-in-out);
    @include transform(translateX(100%));
}

    .story-meta__preview {
        
    }

    .story-meta__details {
        border-left: 1px dashed $grey;
        margin-left: 20px;

        table {
            margin-left: 30px;
            border-collapse: collapse;

            > tr {
                vertical-align: top;
                border-bottom: 1px solid $light-grey;
            }

            td {
                padding: 1em 1em 1em 0;
            }
        }        
    }