{{#stories/story-base}}
    <h3 cpn-story_title cpn-margin="bottom">RTT Scatter Plot</h3>

    <div id="plotly-container" style="width: 100%; height: 263px;">
          <div id="{{chartID}}" style="width: 100%; height: 100%;"></div>
    </div>

{{/stories/story-base}}
