{{#stories/story-base}}

    <div id="plotly-container" style="width: 100%; height: 100%;">
          <div id="{{chartID}}" style="width: 100%; height: 100%;"></div>
    </div>

{{/stories/story-base}}
