
{{#stories/story-base title=title subTitle=subTitle color="-dark-grey" width="-w2" height="-h2" data-ss-colspan="2" viewOnly="true"}}
    <main class="instagram-local">
            {{#each item in items}}
                <div class="instagram-local__photo" {{bind-attr title=item.caption}}>
                    <div class="image">
                        <a href="javascript:;"><img {{bind-attr src=item.images.thumbnail.url}} /></a>
                    </div>
                    <div class="instagram-local__details"></div>
                </div>
            {{/each}}  
    </main>
{{/stories/story-base}}
