{{#stories/story-base}}
            <div id="google-stacked-column-chart-single"></div>
   
   {{!--
    {{#stories/story-slider loaded=loaded}}

        {{#stories/story-slide}}
            <div id="google-stacked-column-chart-single"></div>
        {{/stories/story-slide}}
        {{#stories/story-slide}}
            <div id="google-stacked-column-chart-single1"></div>
        {{/stories/story-slide}}
    
    {{/stories/story-slider}}
    --}}
    
{{/stories/story-base}}
