{{#stories/story-base}}

    <div id="plotly-container" style="width: 100%; height: 100%;">
      <!-- div id="plotly-chart" style="width: 290px; height: 220px;"></div -->
      <div id="plotly-chart" style="width: 100%; height: 100%;"></div>
    </div>

{{/stories/story-base}}
