
{{#stories/story-base title=title subTitle=subTitle color="red" width="1" height="1" data-ss-colspan="1" viewOnly=true}}
    <article {{action 'gotoRoute' 'statnotices'}} class="stat-notices-summary">
        <div class="stat-notices-summary__circle">
          <div class="stat-notices-summary__value v-align--middle">{{newlyAddedCount}}</div>
        </div>
        <p class="stat-notices-summary__callToAction story__para pad-top">Tap to explore</p>
    </article>
{{/stories/story-base}}