{{#stories/story-base}}
    <article {{action 'gotoRoute' 'statnotices'}} class="stat-notices-summary">
        <div class="stat-notices-summary__circle">
          <div class="stat-notices-summary__value v-align--middle">{{newlyAddedCount}}</div>
        </div>
        <p class="stat-notices-summary__callToAction story__para pad-top">Tap to explore</p>
    </article>
{{/stories/story-base}}