{{#stories/story-base}}

    <ol cpn-font="12px">
        <li cpn-divide="top solid faded-dark" cpn-clearfix cpn-margin="bottom">
            <div cpn-float="right">
                <a href="javscript:;" cpn-button="move small">View</a>
            </div>
            <p>Some description about this job</p>
        </li>
        <li cpn-divide="top solid faded-dark" cpn-clearfix cpn-margin="bottom">
            <div cpn-float="right">
                <a href="javscript:;" cpn-button="move small">View</a>
            </div>
            <p>Some description about this job</p>
        </li>
        <li cpn-divide="top solid faded-dark" cpn-clearfix cpn-margin="bottom">
            <div cpn-float="right">
                <a href="javscript:;" cpn-button="move small">View</a>
            </div>
            <p>Some description about this job</p>
        </li>
    </ol>
    
    <button cpn-button="action">+ Add Job</button>
    
{{/stories/story-base}}
