{{#stories/story-base}}
    
		<main class="ct-wrapper">
			{{yield}}
				{{charts/chartist-base 
					data=chartData
					type="line"
					options=chartOptions
					ratio="ct-story_2-2"
					chart=chart}}
		</main>
		
{{/stories/story-base}}
