{{#stories/story-base 
	title=title 
	subTitle=subTitle 
	color="-white" 
	width="-w2"
	height="-h2" 
	data-ss-colspan="2"}}
    
		<main class="ct-wrapper">
			{{yield}}
				{{charts/chartist-chart 
					data=chartData
					type="bar"
					options=chartOptions
					ratio="ct-story_2-2"
					chart=chart}}
		</main>
		
{{/stories/story-base}}
