[spc-yw-ai_title] {
    text-transform: capitalize;
}

[spc-yw-ai_period] {
    font-size: rem(18px);
    font-family: $helvneuelight;
}

[spc-yw-ai_waves] {
    position: absolute;
    top: 103px;
    left: -10px;
    width: 310px;
    height: 63px;
    
    svg {
        width: 100%;
        height: 100%;
    }
}