[solomon-story="heat-map"] {
    [cpn-story_face] {
        padding-bottom: 0;
    }
    
        [cpn-story_body] {
            padding-right: 0;
            padding-left: 0;
            height: rem(434px);
        }
}