

{{#stories/story-base 
    title=title 
    subTitle=subTitle 
    color="-medium-blue" 
    width="-w2" 
    height="-h2" 
    data-ss-colspan="2"
    authorImage="/assets/img/LeedsCouncilLogo.png"
    }}
    <main cpn-story-body="scrollV height2">
        <ul class="margin-left-no">
            {{#each items as |item|}}
                <li cpn-snippet>
                    <a href="{{item.link}}" cpn-snippet_inner target="_blank">
                        <img cpn-snippet_img src="{{item.image}}" alt="">
                        <p cpn-snippet_title>{{item.title}}</p>
                    </a>
                </li>
            {{/each}}
        </ul>
    </main>
{{/stories/story-base}}

