@import "chartist";

.ct-story_2-2 {
  width:290px;
  height:225px;
}

.ct-chart {
    .ct-grid {
        stroke-dasharray: 0;
        stroke: $medium-grey;
    }
    
    .ct-line {
        stroke-width: 2px;
    }
    
    .ct-point {
        stroke-width: 7px;
    }
    
    .ct-label {
        font-size: 10px;
        color: rgba(0,0,0,.5);
        font-family: $helvneuelight;
    }
}