<ul class="js-story-carousel story__carousel">
    {{yield}}
</ul>

<!--<footer class="story__footer">-->
    <span class="js-story-pagination-controls">
        <span class="pg-of">Page <span class="pg-of__x">1</span> of <span class="pg-of__y">1</span></span>
        <!--<img src="assets/img/testimgs/leedsinspired/logo.png" alt="Leeds Inspired" width="50" height="19"/>-->
    
        <div class="carousel-pager">
            <button class="carousel-pager__btn -prev">Prev</button>
            <div class="carousel-pager__numbers"></div>
            <button class="carousel-pager__btn -next">Next</button>
        </div>
    </span>
<!--</footer>-->