<div class="js-stat-notices-wrapper wrapper -gallery -open">
    {{header-nav navItems=galleryNavItems action="gotoRoute"}}

    <main class="gallery-body">
        {{canvas-gallery}}
    </main>
    
    {{manipulation-panel}}

    {{outlet}}

</div>