{{#stories/story-base}}

    <div spc-search-people_form>
        <div spc-quick-search cpn-margin="bottom">
            <input spc-quick-search_input placeholder="Search" type="text">
            <button cpn-button="move" spc-quick-search_submit class="svg-arrow-circled" data-grunticon-embed>Search</button>
        </div>
        
        <div>
            {{ select-2
                content=types
                value=type
                placeholder="Choose type"
                class="margin-bottom-no"
            }}
        </div>
    </div>
    
    {{!-- Results --}}
    <div cpn-overflow="hidden" cpn-margin="top">
        <div spc-single-person_type="in-list">
            <p spc-single-person_type-text>Bill payer</p>
        </div>
        
        <div spc-single-person_text>
            <h3 cpn-font="700 15px" cpn-color="orange" cpn-margin="bottom-none">Mrs. Jane Doe</h3>
            <p cpn-font="700 12px">Regional Manager</p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Telephone:</span> <span cpn-font="12px">0113 1234567</span>
            </p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Email:</span> <a href="mailto:jane-doe@organisation.com" cpn-font="12px">jane-doe@organisation.com</a>
            </p>
        </div>
    </div>
    
    <div cpn-overflow="hidden" cpn-margin="top">
        <div spc-single-person_type="in-list">
            <p spc-single-person_type-text>Voter</p>
        </div>
        
        <div spc-single-person_text>
            <h3 cpn-font="700 15px" cpn-color="orange" cpn-margin="bottom-none">Mr. John Doe</h3>
            <p cpn-font="700 12px">Manager</p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Telephone:</span> <span cpn-font="12px">0113 1234567</span>
            </p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Email:</span> <a href="mailto:jane-doe@organisation.com" cpn-font="12px">john-doe@organisation.com</a>
            </p>
        </div>
    </div>
    
    <div cpn-overflow="hidden" cpn-margin="top">
        <div spc-single-person_type="in-list">
            <p spc-single-person_type-text>Voter</p>
        </div>
        
        <div spc-single-person_text>
            <h3 cpn-font="700 15px" cpn-color="orange" cpn-margin="bottom-none">Mr. John Doe</h3>
            <p cpn-font="700 12px">Manager</p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Telephone:</span> <span cpn-font="12px">0113 1234567</span>
            </p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Email:</span> <a href="mailto:jane-doe@organisation.com" cpn-font="12px">john-doe@organisation.com</a>
            </p>
        </div>
    </div>
    
    <div cpn-overflow="hidden" cpn-margin="top">
        <div spc-single-person_type="in-list">
            <p spc-single-person_type-text>Voter</p>
        </div>
        
        <div spc-single-person_text>
            <h3 cpn-font="700 15px" cpn-color="orange" cpn-margin="bottom-none">Mr. John Doe</h3>
            <p cpn-font="700 12px">Manager</p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Telephone:</span> <span cpn-font="12px">0113 1234567</span>
            </p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Email:</span> <a href="mailto:jane-doe@organisation.com" cpn-font="12px">john-doe@organisation.com</a>
            </p>
        </div>
    </div>
    
{{/stories/story-base}}
