{{#stories/story-base title=title subTitle="Music & art events around Leeds."}}
<main class="event">
    <div class="image -wide">
        <a href="javascript:;"><img src="assets/img/testimgs/leedsinspired.png" alt="Leeds Inspired" width="290" height="87" /></a>
    </div>
    <h2 class="heading"><a href="javascript:;">Gruff Rhys + Gwenno</a></h2>
    <div class="event__details">
        <time class="event__datetime">17th February 2015 7:30pm</time>
        <div class="event__address">
            <em>The Brudenell Social Club</em><br />
            33 Queen's Road, Leeds, LS6 1NY
        </div>
    </div>
    <p class="story__para">Gruff, who is currently embarking on his US tour, will also be joined by a full band for his UK dates&hellip;</p>
</main>
{{yield}}
{{/stories/story-base}}
