[spc-carpark-spaces_available-number] {
	font-size: rem(30px);
	font-weight: 700;
	margin-right: rem($spacing-base / 2);
	background-color: $light-grey;
	display: inline-block;
	vertical-align: middle;
	padding: 0 rem($spacing-base / 2);
	border-radius: rem(3px);
}

[solomon-story="carpark-spaces"] {
	.map-canvas {
		height: rem(162px);
		border-radius: rem(3px);
	}
}