.story__carousel {
	@include clean-list;
}

.story {
	&.-w2.-h2 {
		.story__carousel {
			
			> li {
				width: 290px;
				float: left;
			}

            .story__chart {
                height: 180px;
            }
		}
	}
	&.-w4.-h4 {
		.story__carousel {
			
			> li {
				width: 630px;
				float: left;
			}

            .story__chart {
                height: 390px;
            }
		}
	}
}

.js-story-pagination-controls {
	margin-top: rem(2px);
	display: inline-block;
	
	[solomon-app~="nhs"] & {
		width: 100%;
	}
}

.carousel-pager {
	display: inline-block;
	vertical-align: middle;
	
	[solomon-app~="nhs"] & {
		width: 100%;
	}
	
	&__btn {
		height: rem(11px);
		float: left;
		overflow: hidden;
		outline: none;
		cursor: pointer;
		text-indent: -9999px;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin-right: rem($spacing-base / 2);
		display: block;
		&:before {
			content: '';
			display: block;
			width: rem(7px);
			height: rem(10px);
		}
		&.-prev {
			&:before {
				@include triangle(10px, #bfbdae, left);
			}
			&:hover {
				&:before {
					@include triangle(10px, #000, left);
				}
			}
		}
		&.-next {
			margin-left: rem($spacing-base / 2);
			
			&:before {
				@include triangle(10px, #bfbdae, right);
			}
			&:hover {
				&:before {
					@include triangle(10px, #000, right);
				}
			}
		}
		
		[solomon-app~="nhs"] & {
			display: none !important;
		}
	}
}
	.carousel-pager__numbers {
		float: left;
		font: {
			size: em(12px);
		}
		
		[solomon-app~="nhs"] & {
			float: none;
			text-align: center;
		}
		
		a {
			overflow: hidden;
			display: inline-block;
			margin: {
				right: rem(3px);
				left: rem(3px);
			}
			text: {
				decoration: none;
			}
			font-size: 0;
			
			&:before {
				content: '';
				display: block;
				width: rem(8px);
				height: rem(8px);
				margin: {
					top: rem(1px);
				}
				background: {
					color: #bfbdae;
				}
				border-radius: 100%;
				
				[solomon-app~="nhs"] & {
					width: 10px;
					height: 10px;
					background-color: lighten($nhs-blue, 50%);
				}
			}
			&:hover {
				&:before {
					background: {
						color: #000;
					}
					
					[solomon-app~="nhs"] & {
						background-color: $nhs-blue;
					}
				}
			}
			&.selected {
				&:before {
					background: {
						color: #000;
					}
					
					[solomon-app~="nhs"] & {
						background-color: $nhs-blue;
					}
				}
			}
			
			[solomon-app~="nhs"] & {
				float: none;
				margin-right: 6px;
				margin-left: 6px;
			}
		}
	}