.compare-water-quality {
	padding: {
		top:0px;
	}
	
	input {
		width:98%;
		margin: {
			bottom:5px;
		}
	}
	
	table {
		width: 100%;
		text-align: center;
		margin: {
			top:10px;
		}
		
		td {
			width:30%;
			
			@extend .dotted-area.-bottom;
			@extend .-pad-bottom;
			@extend .-pad-top;
				
			&:nth-child(even) {
				width:40%;
			}
		}
	}
}