[spc-cs-spend-title] {
    font-family: $helvneuemed;
    font-size: rem(14px);
    line-height: 1.25;
    text-transform: uppercase;
    color: #fff;
}

[spc-cs-spend-desc] {
    font-size: rem(12px);
}