[spc-fmbd-body] {
	border-top: 1px solid $grey;
}

[spc-fmbd-logo] {
	position: relative;
	padding: rem(28px);
	margin: rem($helper-spacing / 2) 0;
	
	&::before,
	&::after {
		content: '';
		height: 100%;
		width: rem(32px);
		position: absolute;
		top: 0;
		z-index: -1;
	}
	
	&::before {
		background-color: $tct-blue;
		right: 50%;
	}
	
	&::after {
		background-color: $tct-yellow;
		left: 50%;
	}
}

	[spc-fmbd-logo_inner] {
		border-top: 1px solid #000;
		width: rem(164px);
		margin: 0 auto;
		padding-top: rem($spacing-base);
		text-align: center;
		text-transform: uppercase;
	}
	
		[spc-fmbd-logo_title],
		[spc-fmbd-logo_desc] {
			border-bottom: 1px solid #000;
			margin: 0;
		}
	
		[spc-fmbd-logo_title] {
			font-size: rem(19px);
			line-height: rem(23px);
			// margin-bottom: rem(8px); put this back in when the grit bin link is needed
		}
		
		[spc-fmbd-logo_desc] {
			font-size: rem(11px);
		}
		
[spc-fmbd-address] {
	padding-top: rem($helper-spacing);
	margin-bottom: rem($helper-spacing);
	text-transform: uppercase;
	text-align: center;
}

	[spc-fmbd-address_location] {
		font-size: rem(15px);
		margin: 0;
	}
	
	[spc-fmbd-address_change] {
		font-size: rem(10px);
		color: $lighter-blue;
		display: block;
		cursor: pointer;
		
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	
@include keyframes(listSlide) {
	0% {
		@include transform(translateX(100%));
	}
	
	100% {
		@include transform(translateX(0));
	}
}
	
[spc-fmbd-results] {
	margin: 0;
	padding: 0;
}

	[spc-fmbd-results_inner] {
		margin-bottom: rem($helper-spacing / 2);
		color: #fff;
		border-radius: rem(3px);
		font-size: rem(10px);
		padding: rem(11px) rem(8px) rem(8px);
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		overflow: hidden;
		z-index: 1;
		// @include animation(listSlide .5s);
		
		// &:not(:first-child) {
		// 	@include transform(translateX(100%));
		// }
	}
	
	[spc-fmbd-results_inner~="Black"] {
		background-color: $dark-grey;
	}
	
	[spc-fmbd-results_inner~="Green"] {
		background-color: $lime;
	}
	
	[spc-fmbd-results_inner~="Brown"] {
		background-color: $brown;
	}
	
		[spc-fmbd-results_rel-date] {
			font-weight: bold;
			min-width: rem(68px);
			padding-right: rem($helper-spacing);
		}
		
		[spc-fmbd-results_toggle] {
			width: rem(38px);
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 0;
			background-color: $near-black;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: rem(16px) rem(16px);
			cursor: pointer;
		}
		
		[spc-fmbd-results_toggle="up"] {
			@include transform(rotate(180deg));
		}
		
		[spc-fmbd-results_extra] {
			border-top-width: 2px;
			border-top-style: solid;
			text-align: center;
			border-radius: 0 0 rem(3px) rem(3px);
			padding: rem(13px) rem($helper-spacing) rem(11px);
			margin-bottom: rem($helper-spacing / 2);
			font-size: 10px;
			color: #fff;
			
			> * {
				display: block;
			}
		}
		
		[spc-fmbd-results_extra="Black"] {
			background-color: lighten($dark-grey, 10%);
			border-color: $dark-grey;
		}
		
		[spc-fmbd-results_extra="Green"] {
			background-color: lighten($lime, 10%);
			border-color: $lime;
		}
		
		[spc-fmbd-results_extra="Brown"] {
			background-color: lighten($brown, 10%);
			border-color: $brown;
		}
		
			[spc-fmbd-icon] {
				margin: rem($helper-spacing) auto;
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: contain;
			}
		
			.svg-bin-icon {
				width: rem(22.5px);
				height: rem(29.5px);
			}
			
			.svg-recycle-icon {
				width: rem(25px);
				height: rem(26.5px);
			}
			
			.svg-brown-icon {
				width: rem(29.5px);
				height: rem(30.5px);
			}
			
			[spc-fmbd-calendar] {
				background-repeat: no-repeat;
				background-size: rem(25px) rem(25px);
				background-position: center top;
				margin: rem($helper-spacing) auto;
				padding-top: rem(30px);
				font-size: rem(10px);
				display: block;
				width: rem(200px);
				text-align: center;
				text-decoration: none;
				
				&:hover, &:focus {
					text-decoration: underline;
				}
				
				div {
					display: none;
				}
			}