.instagram-local__details {
	padding: {
		top: 5px;
		bottom: 5px;
	}

	margin: {
		bottom: 0px;
	}
}
    .instagram-local__photo {
        float:left;
        width:48.5%;
        height: auto;
        overflow: hidden;
        &:nth-child(odd) {
           	margin-right: 3%;
        }

        .image {
            margin: 0px;
            img {
            	width: 100%;
            }
        }
    }

