[spc-lds-inspd_title] {
	font-size: rem(18px);
	margin-bottom: rem($spacing-base / 2);
	
	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

[spc-lds-inspd_datetime] {
	font-size: rem(15px);
	font-style: italic;
	line-height: 1.35;
	display: block;
	margin-bottom: rem(2px);
}

[spc-lds-inspd_place] {
	padding-top: rem(2px);
	font-size: em(13px);
	font-style: normal;
	font-weight: 700;
}

[spc-lds-inspd_image] {
	max-width: 50%;
	float: right;
	display: block;
	margin: 0 0 rem($spacing-base / 2) rem($spacing-base);
}

[spc-lds-inspd_desc] {
	font-size: rem(11px);
}