.parking-fines {
	.heading {
		font: {
			size: em(16px);
			family: $helvneue;
		}
		margin: {
			bottom: 0px;
		}
		
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	p {
		font: {
			size: em(11px);
		}
		margin: {
			bottom: 0px;
		}
	}
	
	&__inner {
		background-size: auto 50px;
		background-position: right top;
		padding-right: rem(47px);
	}
} 

