.river-levels {
	.heading {
		font: {
			family: $georgia;
			size: em(18px);
		}
		margin: {
			bottom: 10px;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	p {
		font: {
			size: em(11px);
		}
		margin: {
			bottom: 5px;
		}
	}
	.info-label {
		//@extend %delta;
		border: 0;
		border-radius: 4px;
		display: block;
		text-decoration:none;
		width: 100%;
		height: 30px;
		font-size: 0.75em;
		background-color: $blue;
		color: #fff;
		-webkit-align-items: flex-start;
		text-align: center;
		padding-top: 7px;
		margin-top: 0px;
	}
	&-gaugeChart {
		float: left;
		width: 45%;
		margin-top: 20px;
	}
	&-columnChart {
		display: inline-block;
		width: 55%;
		margin-top: 26px;
		&-container {
			margin-left: 10%;
			padding-left: 20px;
		}
			&-container-inner {
				height: 132px;

				&--maxLevel {
					background-color: $light-blue;
					height: 25%;
					width: 30%;
					margin: auto;
				}
				&--highestLevelRecent {
					background-color: $light-blue;
					height: 25%;
					width: 30%;
					margin: auto;
				}
				&--label {
					font-size: .7em;
					color: $white;
					text-align: left;
					float: left;
					height: 3px;
					overflow: visible;
					position: relative;
					top: -6px;
					left: -30px; 
					width: 50%;
					text-align: right
				}
				&--label-light {
					font-size: .7em;
					color: $light-blue;
					text-align: left;
					float: left;
					height: 3px;
					overflow: visible;
					position: relative;
					top: -6px;
					left: -30px; 
					width: 50%;
					text-align: right
				}
				&--line {
					margin: auto;
					width: 36%;
					border-bottom: 1px $white solid;
					margin-left: 36px;
				}
				&--line-floodRisk {
					margin: auto;
					width: 36%;
					border-bottom: 1px $red solid;
					margin: {
						top: 1px;
						bottom: 1px;
					}
					margin-left: 36px;
				}
				&--value {
					font-size: .7em;
					float: right;
					height: 3px;
					overflow: visible;
					position: relative;
					top: -9px;
					left:25px;
					width: 50%;
					text-align: left;
				}	
				&--value-light {
					font-size: .7em;
					text-align: left;
					color: $light-blue;
					float: right;
					height: 3px;
					overflow: visible;
					position: relative;
					top: -9px;
					left:25px;
					width: 50%;
					text-align: left;
				}	
				&--typicalHighLevel {
					background-color: $blue;
					height: 25%;
					width: 30%;
					margin: auto;
				}
				&--lowestLevel {
					background-color: $blue;
					height: 25%;
					width: 30%;
					margin: auto;
				}
			}
			&-container--header {
				background-color: $light-blue;
				height: 20px;
				width: 30%;
				margin: auto;
				border-radius: 5px 5px 0 0;
				text-align: center;
				color: $white;
			}
			&-container--footer {
				background-color: $white;
				height: 20px;
				width: 30%;
				margin: auto;
				border-radius:  0 0 5px 5px;
				text-align: center;
				color: $dark-blue;
				font-size: .6em;
				padding-top: 4px;
			}
	}
}
