.space-station {
    .heading {
        font: {
            size: em(18px);
        }

        padding: {
            top:10px;
            bottom:10px;
        }

        margin: {
            bottom: 0;
        }

        border: {
            top: dotted 1px #7e7d73;
            bottom: dotted 1px #7e7d73;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        
        margin: {
            bottom: 5px;
        }
    }

    /*div.caroufredsel_wrapper {
        left: 60px !important;
        width: 200px !important;
        border:solid 1px white;
    }*/
}

//    @include keyframes (flip-the-eff-out) {
//    	0% {@include transform(rotate(0deg) rotateX(0deg) rotateY(0deg));}
//        100% {@include transform(rotate(360deg) rotateX(360deg) rotateY(360deg));}
//    }
    
    @include keyframes (rotate-360) {
    	0% {@include transform(rotate(0deg));}
        100% {@include transform(rotate(360deg));}
    }

    .space-station__bg {
        width: 290px;
        height: 200px;
        background-size: contain;
        background-position: center;
        float: left;
        padding: 0;
        margin-bottom: 0; 
        position: absolute;
        
//    	@include transition(transform 1s);
//        @include transform(rotate(360deg));
        @include transform-origin(144px 109px);
        @include animation(rotate-360 8s infinite linear);
//        @include transition-timing-function(linear);
    }
    
    .space-station__inner {
        width: 100px;
        height: 200px;
        text-align: center;
        margin: 70px auto; 
    }

        .space-station__date {
            font: {
                size: em(16px);
            }
        }
    
        .space-station__duration {
            font: {
                size: em(16px);
            }
        }
