.stat-notices-summary {
	text-align: center;
	cursor:pointer;
	padding-top: 0px;
	
	&__circle {
		@extend .alpha;
		background: {
			color:$white;
		}
		color:$red;
		margin: {
			top:0;
			right:0;
			bottom: 0;
			left:0;
		}
		border-radius: 100%;
		@include size(48px); 
		display:inline-block;
	}
	&__value {
		margin-top: 2px;
	}
	&__callToAction {
		text-align: left;
	}
}
