.stat-notices-recent {
	.dotted-area {
		p {
			margin-bottom: 0;
		}
	}

	.btn {
		width: 100%;
		margin-top: 5px;
	}
}
	.stat-notices-recent__notice-list {
		@include clean-list;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}
		.stat-notices-recent__notice-item {
			display: inline-block;
			margin-right: 3px;
			margin-left: 3px;
		}
			.stat-notices-recent__figure {
				width: 53px;
				height: 53px;
				color: $lighter-blue;
				font-size: rem(24px);
				background-color: $white;
				text-align: center;
				border-radius: 100%;
				padding-top: 10px;
				margin-bottom: 5px;
			}