// Slide 1
[spc-tweet] {
	position: relative;
	
	&:not(:last-child) {
		@extend %cpn-divide;
		@extend %cpn-divide-bottom;
	}
}

	[spc-tweet_user] {
		font-size: rem(15px);
		line-height: 1.133;
		
		a {
			text-decoration: none;
		}
	}
		
		[spc-tweet_name] {
			color: $lighter-blue;
		}
		
		[spc-tweet_handle] {
			color: $dark-grey;
			font-size: rem(12px);
		}

	[spc-tweet_body] {
		font-size: rem(12px);
		line-height: 1.5;

		a {
			color: $lighter-blue;
		}
	}
	
	[spc-tweet_time] {
		font-size: rem(10px);
		color: $dark-grey;
		position: absolute;
		top: rem(1px);
		right: 0;
	}

// Slide 2
.twitter-cover-photo {
	width: 290px;
	height: 102px;
	float: left;
	position: relative;
	margin-bottom: 8px;
}
	.twitter-cover-photo__logo {
		width: 84px;
		height: 84px;
		padding: 17px;
		background-color: #fff;
		border-radius: 100%;
		@include middle(xy);
		position: absolute;
	}
.twitter-follow {
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: -19px;
	left: 15px;
	border-radius: 100%;
	display: block;
	text-indent: -99999px;
	@include svg--twitter-follow;
	background: {
		color: #58aff0;
		position: 50% 50%;
		size: 20px;
		height: 20px;
	}
	&:hover {
		background-color: lighten(#58aff0, 5%);
	}
}
.twitter-profile-details {
	width: 290px;
	height: 100px;
	padding: {
		right: 7%;
		left: 7%;
	}
	float: left;
	text-align: center;
	h2 {
		color: #505050;
		font-family: $helvneuemed;
		margin-bottom: 2px;
	}
	h3 {
		color: #9b9b9b;
		margin-bottom: 2px;
	}
	.story__para {
		color: #9b9b9b;
		line-height: 1.2;
		margin-bottom: 0;
		~ .story__para {
			margin-top: 10px;
		}
	}
}