// Slide 1
[spc-tweet] {
	position: relative;
	
	&:not(:last-child) {
		@extend %cpn-divide;
		@extend %cpn-divide-bottom;
	}
}

	[spc-tweet_user] {
		font-size: rem(15px);
		line-height: 1.133;
		
		a {
			text-decoration: none;
		}
	}
		
		[spc-tweet_name] {
			color: $lighter-blue;
		}
		
		[spc-tweet_handle] {
			color: $dark-grey;
			font-size: rem(10px);
		}

	[spc-tweet_body] {
		font-size: rem(12px);
		line-height: 1.5;
		margin-bottom: 0;

		a {
			color: $lighter-blue;
		}
	}
	
	[spc-tweet_time] {
		font-size: rem(10px);
		color: $dark-grey;
		margin-bottom: rem(10px);
		display: block;
	}

// Slide 2
[spc-tweeter_cover] {
	width: 290px;
	height: 102px;
	float: left;
	position: relative;
	margin-bottom: 8px;
}

	[spc-tweeter_avatar] {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		
		
		&, & svg {
			width: 63px;
			height: 77px;
		}
	}
	
	[spc-tweeter_follow] {
		width: 40px;
		height: 40px;
		position: absolute;
		bottom: -19px;
		left: 15px;
		border-radius: 100%;
		display: block;
		text-indent: -99999px;
		@include svg--twitter-follow;
		transition: .25s;
		background: {
			color: #58aff0;
			position: 50% 50%;
			size: 20px;
			height: 20px;
		}
		
		&:hover {
			background-color: lighten(#58aff0, 5%);
		}
	}
	
[spc-tweeter_details] {
	width: 290px;
	height: 100px;
	padding: {
		right: 7%;
		left: 7%;
	}
	float: left;
	text-align: center;
}

	[spc-tweeter_name] {
		color: #505050;
		font-family: $helvneuemed;
		margin-bottom: 2px;
		font-size: rem(22.5px);
	}
	
	[spc-tweeter_username] {
		color: #9b9b9b;
		margin-bottom: 2px;
		font-size: rem(15px);
	}
	
	[spc-tweeter_description] {
		color: #9b9b9b;
		line-height: 1.2;
		margin-bottom: 0;
		font-size: rem(12px);
	}