.forecast-graphic {
	$size: rem(71px);
	
	width: $size;
	height: $size;
	background-size: $size $size;
	// margin-right: rem(17px);
	border: 2px solid #000;
	border-radius: 50%;
	position: relative;
	
	svg {
		fill: #000;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		max-width: rem(37px);
		max-height: rem(37px);
	}
}

.main-weather-item {
	&, * {
		font-size: rem(13px);
	}
}

.temperature {
	font-size: rem(20px);
}

.svg-compass-arrow {
	display: inline-block;
	vertical-align: bottom;
	width: rem(20px);
	height: rem(20px);
	
	svg {
		width: 100%;
		height: 100%;
	}
}

// Manage the rotation of the compass
[spc-compass-direction="N"] {
	@include transform(rotate(315deg));
}

[spc-compass-direction="NE"] {
	@include transform(rotate(0deg));
}

[spc-compass-direction="E"] {
	@include transform(rotate(45deg));
}

[spc-compass-direction="SE"] {
	@include transform(rotate(90deg));
}

[spc-compass-direction="S"] {
	@include transform(rotate(135deg));
}

[spc-compass-direction="SW"] {
	@include transform(rotate(180deg));
}

[spc-compass-direction="W"] {
	@include transform(rotate(225deg));
}

[spc-compass-direction="NW"] {
	@include transform(rotate(270deg));
}