{{#stories/story-base}}
    <main spc-laqt class="ct-wrapper">
        {{ select-2
				content=locations
				value=location
				placeholder="Choose a location"
				class="margin-bottom-no"
			}}
        {{yield}}
        {{charts/chartist-base 
            data=chartData
            type="line"
            options=chartOptions
            ratio="ct-story_2-2"
            chart=chart}}
    </main>
{{/stories/story-base}}