{{#stories/story-base
    title=title
    subTitle=subTitle
    color="white"
    width="2"
    height="2"
    scroll=false
    data-ss-colspan="2"
}}
    <main spc-laqt class="ct-wrapper">
        {{ select-2
				content=locations
				value=location
				placeholder="Choose a location"
				class="margin-bottom-no"
			}}
        {{yield}}
        {{charts/chartist-base 
            data=chartData
            type="line"
            options=chartOptions
            ratio="ct-story_2-2"
            chart=chart}}
    </main>
    
{{/stories/story-base}}