{{#stories/story-base}}

  {{#if image_url}}

    <img src="{{image_url}}">

  {{/if}}

  {{#if title}}

    <header>

      <h3 cpn-story_title cpn-margin="bottom">{{title}}</h3>

    </header>

  {{/if}}

  <main has-header class="text-generic" cpn-font="12px">

    {{markdown-to-html markdown=description}}

  </main>

{{/stories/story-base}}
