{{#stories/story-base}}

  {{#if image_url}}

    <img src="{{image_url}}">

  {{/if}}

  {{#if title}}

    <header>

      <h2>{{title}}</h2>

    </header>

  {{/if}}

  <main has-header class="text-generic">

    {{description}}

  </main>

{{/stories/story-base}}
