<div cpn-manipulation-panel="{{openState}}">
    <div cpn-manipulation-panel_header cpn-divide="bottom solid" cpn-margin="right-double left-double">
        <h2 cpn-manipulation-panel_title>{{title}}</h2>
        <a href="javascript:;" {{action "closePanel"}}>Close</a>
    </div>
    
    {{component content}}
</div>