<div cpn-manipulation-panel="{{openState}}" cpn-padding="top-double">
    <div cpn-manipulation-panel_header cpn-divide="bottom solid" cpn-margin="right-double bottom-double left-double" cpn-clearfix>
        <a {{action "closePanel"}} cpn-frame_close cpn-float="right" class="svg-close-drawer"></a>
        <h2 cpn-manipulation-panel_title>{{title}}</h2>
    </div>
    
    {{component content isCancelled=isCancelled}}
</div>