{{#stories/story-base}}

    <p spc-os_org-name>{{organisationName}}</p>
    
    <div cpn-divide="top solid" cpn-padding="top-none">
        <a spc-val_link href="javascript:;">Tap to view</a>
    </div>
{{/stories/story-base}}
