{{#stories/story-base}}

    <h2 cpn-story_title cpn-margin="bottom-half" cpn-font-weight="500">Regional CCG Overall RTT Performance</h2>
    
    <div cpn-clearfix>
        <p cpn-float="left" spc-opc_chosen-value>75.4%</p>
        <h3 cpn-overflow="hidden" spc-opc_chosen-location>West London (Kensington and Chelsea)</h3>
    </div>

    <div spc-opc_chart>
        <div spc-opc_bars data-national-avg="75%" data-location-avg="65%">
            {{#each bar in bars}}
            <div spc-opc_bar data-location-name="{{bar.location}}" style="width: 0; width: {{bar.percentage}};">{{bar.location}}</div>
            {{/each}}
        </div>
        <ul spc-opc_axis>
            <li spc-opc_label>0%</li>
            <li spc-opc_label>50%</li>
            <li spc-opc_label>100%</li>
        </ul>
    </div>
    
    <ul spc-opc_legend>
        <li spc-opc_legend-label="national">National Average</li>
        <li spc-opc_legend-label="location">Regional Average</li>
    </ul>
{{/stories/story-base}}
