{{#stories/story-base}}

    {{!--
        To style your newly created story, you can use the Sass file created for this story in app/styles/components/stories.
        
        Where possible, try and use existing styles. But if you need to write something specific to this story, then place your styles in this story's partial.
     
        For a more detailed workflow see https://github.com/hebeworks/Solomon/wiki/Working-with-Styles
    --}}
    
    <p>This is the bidOrganisationDetails story.</p>
    
    {{#each item in items}}
        <p>{{item.title}}</p>
    {{/each}}
{{/stories/story-base}}
