{{#stories/story-base}}

    <div cpn-row-list>
        <div cpn-width="50%" cpn-font="12px">
            <h3 cpn-font="15px 700" cpn-margin="bottom-none">Boots UK Limited</h3>
            <p>
                1 Street Address
                <br>Leeds Place
                <br>Leeds
                <br>LS1 1AA
            </p>
        </div>
        <div cpn-width="50%" cpn-font="12px">
            <h4 cpn-font="500 15px" cpn-margin="bottom-none">Telephone:</h4>
            <p>0113 1234567</p>
            
            <h4 cpn-font="500 15px" cpn-margin="bottom-none">Primary Contact:</h4>
            <p>Jane Doe</p>
        </div>
    </div>
    
{{/stories/story-base}}
