{{#stories/story-base title=title subTitle=subTitle color="-black" width="-w1" height="-h1" data-ss-colspan="1" viewOnly=true}}
    <article class="clock-face hebe js-london">
        <section class="hours-container">
            <section class="hours"></section>
        </section>
        <section class="bounce minutes-container">
            <section class="minutes"></section>
        </section>
        <section class="bounce seconds-container">
            <section class="seconds"></section>
        </section>
    </article>
{{/stories/story-base}}