{{yield}}
		<section class="drawer__section -categories">
			{{#each categories as |cat|}}
				<h3 class="thumb-list-heading">{{cat.category.title}}</h3>
				<div class="js-thumb-list thumb-list">
					<ul class="thumb-list__inner">
						{{#each cat.stories as |story|}}
							{{stories/story-library/list-view-thumbnail model=story action="addAStory" thumbIcon="-add-story"}}
						{{/each}}
					</ul>
				</div>
			{{/each}}
		</section>