{{#stories/story-base}}

    <div cpn-divide="bottom solid light">
        <h2 spc-yw-ai_title>{{zoneTitle}}</h2>
    </div>
    
    <p>Total contacts</p>
    
    <p>Chosen date range</p>
    
{{/stories/story-base}}
