{{#stories/story-base}}

    <div cpn-divide="bottom solid light">
        <h2 spc-yw-ai_title>{{zoneTitle}}</h2>
    </div>
    
    <p spc-yw-ai_period>{{datePeriod}}</p>
    
    <span spc-yw-ai_waves class="svg-yorkshire-water-waves" data-grunticon-embed></span>
    
{{/stories/story-base}}
