<div class="js-dashboard-wrapper wrapper -dashboard -open">

    {{header-nav navItems=navItems subNavItems=subNavItems action="gotoRoute" appController=appController}}

	<main class="site-body">
		{{canvas-switcher currentCanvas=model appController=appController}}
	</main>
	
	{{bottom-drawer appController=appController}}
    {{outlet}}

</div>