
{{#stories/story-base 
    title=title 
    subTitle=subTitle 
    color="-lime" 
    width="-w2" 
    height="-h2" 
    data-ss-colspan="2"
    
    dataSourceUrl="http://leedsdatamill.org/dataset/leeds-city-centre-bike-bays"
    feedbackEmail="info@leedsdatamill.org"
    description="This Story used data from the City Centre Bike Bays dataset from Leeds Data Mill"
    license="<a href='http://leedsdatamill.org/dataset/leeds-city-centre-bike-bays' target='_blank'>Leeds City Centre bike bays</a>, © Leeds City Council, 2015. This information is licensed under the terms of the Open Government Licence"
    author="Nathan Smith"
    }}
    
    <div>
        {{
            select-2
            content=items
            value=selectedItem
            optionLabelPath="street"
            placeholder="Find a bay"
        }}
    </div>
    
    <main class="bicycle-bays">
        {{google-map 
            lat=lat 
            lng=lng 
            zoom=zoom
            markers=markers
            gopt_styles=mapStyles
            gopt_zoomControl=false
            gopt_mapTypeControl=false
            }}
<!--          
  gopt_zoomControl=false
            markerInfoWindowTemplateName='app/components/stories/complete/bicycle-bays/google-map-info-window/'
            markerInfoWindowTemplateName='google-maps/info-window'
            }}-->
            
    </main>

{{/stories/story-base}}
