{{#stories/story-base}}
    
    <div cpn-margin="bottom">
        {{
            select-2
            content=items
            value=selectedItem
            optionLabelPath="street"
            placeholder="Find a bay"
        }}
    </div>
    
    {{google-map 
        lat=lat 
        lng=lng 
        zoom=zoom
        markers=markers
        gopt_styles=mapStyles
        gopt_zoomControl=false
        gopt_mapTypeControl=false
    }}

{{/stories/story-base}}
