<div cpn-padding="right-double bottom left-double">
    <p>Name</p>
    <p>First name</p>
    <p>Last name</p>
    <p>Job title</p>
    <p>
        1 Leeds Street
        <br>Leeds Place
        <br>Leeds
        <br>LS1 1AA
    </p>
    <ul>
        <li>Voting for</li>
        <li>Local contact for</li>
        <li>Bill payer for</li>
        <li>Accounts dept. for</li>
    </ul>
</div>{{yield}}
{{yield}}
