{{#stories/story-base}}

    <h3 cpn-story_title cpn-margin="bottom">Selected Region</h3>
    
    <div spc-nhs-rm_map="{{selectedRegionID}}" cpn-text="center" class="svg-nhs-region-map" data-grunticon-embed></div>
    
{{/stories/story-base}}
