.circle-indicator {
	padding: 10px;
	display: inline-block;
	position: relative;

	&.-small {
		width: 72px;
		height: 72px;

		.svg-circle-indicator {
			width: 130px;
			height: 130px;
			> svg {
				width: 130px;
				height: 130px;
			}
		}
	}
	&.-medium {
		width: 130px;
		height: 130px;

		.svg-circle-indicator {
			width: 130px;
			height: 130px;
			> svg {
				width: 130px;
				height: 130px;
			}
		}
	}
	&.-large {
		width: 157px;
		height: 157px;

		.svg-circle-indicator {
			width: 157px;
			height: 157px;
			> svg {
				width: 157px;
				height: 157px;
			}
		}
	}

	.svg-circle-indicator {
		position: absolute;
		top: 0;
		left: 0;
	}
}

// Although circle indicator-rings are sometimes inside circle-indicators,
// this isn't always the case, see: Empty Properties story
.circle-indicator-ring {
	border-style: solid;
	border-width: 3px;
	border-color: #fff;
	border-radius: 100%;
	z-index: 2;
	position: relative;
	display: table;

	// Sizes
	&.-small {
		width: 70px;
		height: 70px;
	}
	&.-medium {
		width: 110px;
		height: 110px;
	}
	&.-large {
		width: 137px;
		height: 137px;
	}

	// Colours
	&.-orange {
		border-color: $orange;
	}
	&.-lime {
		border-color: $lime;
	}

	> div {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.svg-calendar {
		width: 17px;
		height: 20px;
		display: block;
		margin: {
			right: auto;
			bottom: 7px;
			left: auto;
		}
		text-indent: -99999px;
		> svg {
			width: 17px;
			height: 20px;
			fill: #fff;
			display: block;
		}
	}
	h2,
	h3,
	h4 {
		display: block;
		font-weight: bold;
	}
	h2 {
		text-decoration: underline;
		margin-bottom: 5px;
	}
	h3 {
		color: #fff;
		margin-bottom: 3px;
	}
	h4 {
		color: #7ed320;
		margin-bottom: 0;
	}
}

.svg-circle-indicator {
	z-index: 1;

	&.-green > svg {
		fill: #7ed321;
	}
	&.-orange > svg {
		fill: #f7a700;
	}
	&.-transparent > svg {
		fill: transparent;
	}
}

.circle-indicator-stats {
	width: 113px;
	float: left;
}
	.circle-indicator-stat {
		width: 100%;
		float: left;

		.svg-up-down-arrow {
			width: 12px;
			height: 4px;
			text-indent: -99999px;
			display: inline-block;
			position: relative;
			top: -3px;
			> svg {
				width: 12px;
				height: 4px;
				display: block;
			}
			&.-up {
				> svg {
					fill: $lime;
				}
			}
			&.-down {
				@include transform(rotate(180deg));
				> svg {
					fill: $red;
				}
			}
		}
	}
		.circle-indicator-stat__text {
			font-size: rem(10px);
		}
		.circle-indicator-stat__stat {
			font: {
				size: rem(13px);
				weight: bold;
			}
			display: inline-block;
			margin-right: 3px;
			&.-positive {
				color: $lime;
			}
			&.-negative {
				color: $red;
			}
		}