.alpha {
    font-size: rem($large-heading); // 17px
    line-height: 1.176470588; // 20px
}
.beta {
    font-size: rem($medium-heading); // 15px
    line-height: 1.133333333; // 17px
}
.gamma {
    font-size: rem($small-heading); // 11px
    line-height: 1.181818182; // 13px
}