 .nav {}
.nav__list {

	/* A nav element in the header or top drawer */
	&.-main {
		@include clean-list;
		@include middle(xy);
		width: 100%;
		height: 80px;
		position: absolute;
		display: block;
		text-align: center;

		li {
			width: auto;
			height: 80px;
			display: inline-block;
			padding: {
				top: 8px;
			}
			margin: {
				right: 20px;
				left: 20px;
			}
			&.-separator {
				margin: {
					right: 70px;
				}
			}
		}
		a {
			display: block;
			text: {
				align: center;
			}
			text-decoration: none;
			&:hover, &.-selected {
				color: $lime;
				.icon {
					svg {
						fill: $lime;
					}
				}
				.main-nav__title {
					color: $lime;
					text-decoration: none;
				}
			}
		}
		.icon {
			@include centered;
			width: 35px;
			height: 35px;
			display: inline-block;
			svg {
				width: 35px;
				height: 35px;
			}
		}
	}

	/* Nav in the header */
	&.-header {
		li {
			&.-back {
				position: absolute;
//				top: 2px;
				left: 20px;
			}
			&.-gallery {
				position: absolute;
//				top: 2px;
				right: 45px;
			}
		}
	}

	/* Top drawer nav */
	&.-top-drawer {
		
	}
}

.nav-main__title {
	width: 100%;
	display: block;
	font: {
		size: em(12px);
		family: $helvneuelight;
	}
}