$input-height: 40px;
$input-border-width: 2px;

.select2-container {
	display: block;
	z-index: 1;
	position: relative;
	
	.select2-choice {
		height: rem($input-height);
		padding: rem(7px) rem(38.5px) rem(7px) rem(($spacing-base * 1.5) - $input-border-width);
		border: rem($input-border-width) solid $light-grey;
		color: $color-app-black !important;
		display: block;
		border-radius: rem(3px);
		background-color: #fff;
		background-image: none;
		font-size: rem($font-base);
		line-height: rem(22px);
	    overflow: hidden;
	    position: relative;
	    white-space: nowrap;
	    text-decoration: none;
	    background-clip: padding-box;
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    @include transition(.3s);
	    
	    > .select2-chosen {
	    	overflow: hidden;
    	    white-space: nowrap;
    	    text-overflow: ellipsis;
	    }
	    
	    .select2-arrow {
	    	@include svg--chevron-down;
	    	background-color: transparent;
	    	background-size: 100% 100%;
	    	position: absolute;
	    	top: 0;
	    	right: rem(15px);
	    	bottom: 0;
	    	margin: auto;
	    	width: rem(12.5px);
	    	height: rem(7px);
	    	display: block;
	    	border: 0;
	    	border-radius: 0;
	    	@include transform(none);
	    	@include transition(.3s);
	    	
	    	b {
	    		display: none;
	    	}
	    }
	}
}

.select2-dropdown-open {
	.select2-choice {
		border-color: $grey;
		border-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		
		.select2-arrow {
			@include transform(rotateX(180deg));
		}
	}
}

.select2-drop {
	width: 100%;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: $color-app-black;
    border: $input-border-width solid $grey;
    border-top: 0;
    border-radius: 0 0 rem(3px) rem(3px);
    box-shadow: none;
    margin-top: 0;
}

.select2-drop-active {
	border: $input-border-width solid $grey;
	border-top: 0;
}

	.select2-search {
		display: block;
	    width: auto;
	    min-height: 0;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    z-index: 10000;
	    white-space: nowrap;
	    
	    &::after {
	    	content: '';
	    	position: absolute;
	    	top: 0;
	    	right: rem(15px);
	    	bottom: 0;
	    	margin: auto;
	    	width: rem(15px);
	    	height: rem(15px);
	    	@include svg--search-grey;
	    	background-size: 100% 100%;
	    }
	    
	    input[type="text"] {
	    	&, &:focus {
	    		border: 0;
	    		background-color: $lighter-grey;
	    		border-radius: 0;
	    		background-image: none !important;
	    		padding-right: rem(43px);
	    	}
	    }
	}
	
	.select2-results {
		padding: 0;
		margin: 0;
		
		li {
			margin: 0;
		}
		
			.select2-result-label {
				padding: rem(7px) rem(13px);
				min-height: 0;
				font-size: rem(12px);
			}
			
		.select2-highlighted {
			color: $color-app-black;
			background-color: $light-grey;
		}
	}

.select2-offscreen {
	&, &:focus {
		clip: rect(0 0 0 0) !important;
		width: 1px !important;
		height: 1px !important;
		border: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		overflow: hidden !important;
		position: absolute !important;
		outline: 0 !important;
		left: 0px !important;
		top: 0px !important;
	}
}