<div class="js-story-meta story-meta">
	<button class="js-close-story-meta btn -back "></button>
	<h2 class="drawer__heading alpha">Sports news &amp; events in Leeds</h2>

	<div class="story-meta__inner table">
		{{yield}}
		<div class="story-meta__preview table-cell -align-top">
		    <div class="js-story story -w1 -h1 -white" data-ss-colspan="2">
				<div class="story__inner">
					Story preview
				</div>
		    </div>
		    <button class="btn -blue">Add to canvas</button>
		</div>
		<div class="story-meta__details table -fixed -align-top">

			<table>
				<tr>
					<td>Description</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>
				<tr>
					<td>Tags</td>
					<td>Tag, tag, tag, tag, tag, tag, tag</td>
				</tr>
				<tr>
					<td>Category</td>
					<td>Sport</td>
				</tr>
				<tr>
					<td>Author</td>
					<td>Nathan Smith</td>
				</tr>
			</table>
			<h4>More by Author</h4>
			<div class="js-thumb-list thumb-list">
				<ul class="thumb-list__inner">
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category gamma">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category gamma">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category gamma">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category gamma">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category gamma">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category gamma">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category gamma">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category gamma">Sport &amp; Events</p>
					</li>
				</ul>
			</div> 
		</div>
	</div>
</div>
