Would you like to make your own copy of this canvas to edit?
{{yield}}
<div class="btn-list">
	<button class="btn" {{action "duplicateCanvas"}}>Yes</button>
	<button class="btn" {{action "hideModal"}}>No</button>
</div>
