
{{#stories/story-base
    title=title
    subTitle=subTitle
    color="-black"
    width="-w1"
    height="-h1"
    data-ss-colspan="1"
    viewOnly="true"
}}
    <main class="sunrise-sunset">
        <div class="circle-indicator-ring -medium">
            <div>
                <i class="sunrise-sunset__sun" aria-hidden="true">Sun icon</i>
                <i class="sunrise-sunset__indicator -up" aria-hidden="true">Up icon</i>
                <span class="number-stat block helvbold">{{sunriseCountdown}}</span>
                <span class="sunrise-sunset__description gamma helvbold block">Until Sunrise</span>
                <span class="gamma helvbold block">{{item.sunriseFormatted}}</span>
            </div>
        </div>
    </main>
{{/stories/story-base}}