{{#stories/story-base}}

    <div cpn-font="12px">
        <div cpn-divide="top solid faded-dark">
            <div cpn-float="right">
                <a href="javascript:'" cpn-button="move small">View</a>
            </div>
            <div cpn-overflow="hidden">
                <h3 cpn-font="700 15px" cpn-margin="bottom-none">Boots Retail Store</h3>
                <p cpn-font="500">Boots UK Limited</p>
                
                <h4 cpn-font="500 15px">Address:</h4>
                <p>1 Street Address, Leeds Place, Leeds, West Yorkshire, LS1 1AA</p>
                
                <h4 cpn-font="500 15px">Telephone:</h4>
                <p>0113 1234567</p>
            </div>
        </div>
        
        <div cpn-divide="top solid faded-dark">
            <div cpn-float="right">
                <a href="javascript:'" cpn-button="move small">View</a>
            </div>
            <div cpn-overflow="hidden">
                <h4 cpn-font="500 15px">Store Manager:</h4>
                <p>Jane Doe</p>
            </div>
        </div>
    </div>
    
{{/stories/story-base}}
