{{#stories/story-base}}

    <div cpn-overflow="hidden">
        <div spc-single-person_type>
            <p spc-single-person_type-text>Bill payer</p>
        </div>
        
        <div spc-single-person_text>
            <h3 cpn-font="700 15px" cpn-color="orange" cpn-margin="bottom-none">Mrs. Jane Doe</h3>
            <p cpn-font="700 12px">Regional Manager</p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Telephone:</span> <span cpn-font="12px">0113 1234567</span>
            </p>
            
            <p cpn-margin="bottom-half">
                <span cpn-font="500">Email:</span> <a href="mailto:jane-doe@organisation.com" cpn-font="12px">jane-doe@organisation.com</a>
            </p>
        </div>
    </div>
    
{{/stories/story-base}}
