{{#stories/story-base}}    
    <table spc-yw-tc_list>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>DMA</th>
                <th>No. contacts</th>
            </tr>
        </thead>
            <tbody>
                {{#each item in items}}
                    <tr>
                        <td>{{item.position}}</td>
                        <td><span spc-yw-tc_property>{{item.groupKey}}</span></td>
                        <td><span spc-yw-tc_count>{{item.count}}</span></td>
                    </tr>
                {{/each}}
            </tbody>
    </table>

{{/stories/story-base}}
