{{#stories/story-base}}

    {{!-- Column Chart --}}
    {{#stories/story-slide}}
        <div id="google-column-chart-single"></div>
    {{/stories/story-slide}}
    
{{/stories/story-base}}
