<div cpn-thumb-list_icon="{{thumb-icon}}"></div>
<h4 cpn-thumb-list_title>{{model.title}}</h4>
<p cpn-thumb-list_meta>
    {{#each model.categories as |cat|}}
        {{cat.title}}
    {{/each}}
</p>
    
{{yield}}