[solomon-story="search-people"] {
    [cpn-story_body] {
        padding-top: rem(91px) !important; // height of search inputs
    }
}

[spc-search-people_form] {
    position: absolute;
    width: 100%;
    top: rem(23px); // height of header
    background-color: #fff;
}