[solomon-story="small-map"] {
    [cpn-story_face~="front"] {
        padding-bottom: 0;
    }
    
        [cpn-story_body] {
            padding-right: 0;
            padding-left: 0;
            height: rem(264px);
        }
}