{{#stories/story-base}}

    <div spc-multi-chart_inner cpn-clearfix>
        <div spc-multi-chart_item>
            <h2 cpn-story_title cpn-margin="bottom-half">Zone Name</h2>
            <h3 cpn-story_desc>A description about the charts in this story</h3>
        </div>
        <div spc-multi-chart_item>
            <p>
                <span cpn-font-weight="bold" cpn-display="block">No. Properties</span>
                <span cpn-display="block">35,000</span>
            </p>
            <p>
                <span cpn-font-weight="bold" cpn-display="block">No. People</span>
                <span cpn-display="block">145,000</span>
            </p>
        </div>
        <div spc-multi-chart_item>
            <div id="multi-pie-1"></div>
        </div>
        <div spc-multi-chart_item>
            <div id="multi-pie-2"></div>
        </div>
    </div>
    
{{/stories/story-base}}
