{{#stories/story-base}}

    <div spc-multi-chart_inner cpn-clearfix>
        <div spc-multi-chart_item>
            <h2 cpn-story_title cpn-margin="bottom-half">Zone Name</h2>
            <p>
                <span cpn-font="italic" cpn-display="block">Primary Feed</span>
                <span cpn-display="block">[feed name]</span>
            </p>
            <p>
                <span cpn-font="italic" cpn-display="block">Secondary Feed</span>
                <span cpn-display="block">[feed name]</span>
            </p>
        </div>
        <div spc-multi-chart_item>
            <p>
                <span cpn-font-weight="bold" cpn-display="block">No. Properties</span>
                <span cpn-display="block">{{numberProperties}}</span>
            </p>
            <p>
                <span cpn-font-weight="bold" cpn-display="block">No. People</span>
                <span cpn-display="block">{{numberPeople}}</span>
            </p>
        </div>
        <div spc-multi-chart_item>
            <div id="multi-pie-1"></div>
        </div>
        <div spc-multi-chart_item>
            <div id="multi-pie-2"></div>
        </div>
    </div>
    
{{/stories/story-base}}
